@import 'node_modules/lato-font/scss/public-api';
@include lato-include-font('normal');
@include lato-include-font('black');
@include lato-include-font('medium');
@include lato-include-font('bold');
@include lato-include-font('light');

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(~material-design-icons/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(~material-design-icons/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
       url(~material-design-icons/iconfont/MaterialIcons-Regular.woff) format('woff'),
       url(~material-design-icons/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* playfair-display-400normal - latin */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src: url('~typeface-playfair-display/files/playfair-display-latin-400.eot'); /* IE9 Compat Modes */
  src:
    local('Playfair Display Regular '),
    local('Playfair Display-Regular'),
    url('~typeface-playfair-display/files/playfair-display-latin-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('~typeface-playfair-display/files/playfair-display-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('~typeface-playfair-display/files/playfair-display-latin-400.woff') format('woff'), /* Modern Browsers */
    url('~typeface-playfair-display/files/playfair-display-latin-400.svg#playfair-display') format('svg'); /* Legacy iOS */
}

/* playfair-display-400italic - latin */
@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 400;
  src: url('~typeface-playfair-display/files/playfair-display-latin-400italic.eot'); /* IE9 Compat Modes */
  src:
    local('Playfair Display Regular italic'),
    local('Playfair Display-Regularitalic'),
    url('~typeface-playfair-display/files/playfair-display-latin-400italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('~typeface-playfair-display/files/playfair-display-latin-400italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('~typeface-playfair-display/files/playfair-display-latin-400italic.woff') format('woff'), /* Modern Browsers */
    url('~typeface-playfair-display/files/playfair-display-latin-400italic.svg#playfair-display') format('svg'); /* Legacy iOS */
}

/* playfair-display-700normal - latin */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  src: url('~typeface-playfair-display/files/playfair-display-latin-700.eot'); /* IE9 Compat Modes */
  src:
    local('Playfair Display Bold '),
    local('Playfair Display-Bold'),
    url('~typeface-playfair-display/files/playfair-display-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('~typeface-playfair-display/files/playfair-display-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('~typeface-playfair-display/files/playfair-display-latin-700.woff') format('woff'), /* Modern Browsers */
    url('~typeface-playfair-display/files/playfair-display-latin-700.svg#playfair-display') format('svg'); /* Legacy iOS */
}

/* playfair-display-700italic - latin */
@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 700;
  src: url('~typeface-playfair-display/files/playfair-display-latin-700italic.eot'); /* IE9 Compat Modes */
  src:
    local('Playfair Display Bold italic'),
    local('Playfair Display-Bolditalic'),
    url('~typeface-playfair-display/files/playfair-display-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('~typeface-playfair-display/files/playfair-display-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('~typeface-playfair-display/files/playfair-display-latin-700italic.woff') format('woff'), /* Modern Browsers */
    url('~typeface-playfair-display/files/playfair-display-latin-700italic.svg#playfair-display') format('svg'); /* Legacy iOS */
}

/* playfair-display-900normal - latin */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 900;
  src: url('~typeface-playfair-display/files/playfair-display-latin-900.eot'); /* IE9 Compat Modes */
  src:
    local('Playfair Display Black '),
    local('Playfair Display-Black'),
    url('~typeface-playfair-display/files/playfair-display-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('~typeface-playfair-display/files/playfair-display-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
    url('~typeface-playfair-display/files/playfair-display-latin-900.woff') format('woff'), /* Modern Browsers */
    url('~typeface-playfair-display/files/playfair-display-latin-900.svg#playfair-display') format('svg'); /* Legacy iOS */
}

/* playfair-display-900italic - latin */
@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 900;
  src: url('~typeface-playfair-display/files/playfair-display-latin-900italic.eot'); /* IE9 Compat Modes */
  src:
    local('Playfair Display Black italic'),
    local('Playfair Display-Blackitalic'),
    url('~typeface-playfair-display/files/playfair-display-latin-900italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('~typeface-playfair-display/files/playfair-display-latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('~typeface-playfair-display/files/playfair-display-latin-900italic.woff') format('woff'), /* Modern Browsers */
    url('~typeface-playfair-display/files/playfair-display-latin-900italic.svg#playfair-display') format('svg'); /* Legacy iOS */
}

