$font-family-base: 'Lato', sans-serif;
$font-custom: 'Playfair Display', serif;
$gray-darker: #333333;
$gray-dark: #888888;
$gray: #999999;
$gray-light: #dedfe1;
$gray-lighter: #f6f6f6;
$gray-lightest: #ebecee;
$gray-bg: #f5f5f7;
$color-light: #ffffff;
$brand-primary: #ef4e21;
$brand-secondary: #f39d72;
$brand-success: #4cbb6c;
$brand-warning: #ff9a52;
$brand-danger: #ff4c4c;
$label-color: $gray-darker;
$btn-primary-color: #fff;
$btn-primary-bg: $brand-primary;
$btn-primary-border: transparent;
$btn-secondary-color: $gray-darker;
$btn-secondary-bg: $gray-lighter;
$btn-secondary-border: transparent;
$btn-border-radius: 0;
$input-btn-border-width: 0.0625rem;
$tooltip-bg: $brand-danger;
$border-radius: 0;
$extra-small-space: 5px;
$small-space: 10px;
$medium-space: 20px;
$large-space: 30px;
$extra-large-space: 40px;
$warning: #FF9A52;
$warning-hover: #FDE7BB;
$alert-warning-bg: rgba(255,154,82,0.3);
$alert-warning-border: $warning;
$alert-warning-text: $gray-darker;
$btn-warning-bg: $warning;
$btn-warning-color: white;
$btn-tertiary-color: #6C868E;
$btn-tertiary-hover: #BBCDD2;
$base-font-size: 16px;
$font-size-lg: 0.9375rem;
$font-size-sm: 0.875rem;
$font-size-xs: 0.8125rem;
$font-size-h1: 2.5rem;
$font-size-h2: 1.875rem;
$font-size-h3: 1.625rem;
$font-size-h4: 1.375rem;
$font-size-h5: 1.429rem;
$font-size-h6: 0.875rem;
$display1-size: 50px;
$display1-weight: 600;
$display2-size: 35px;
$display2-weight: 400;
$display3-size: 25px;
$display3-weight: 400;
$display4-size: 20px;
$display4-weight: 400;
$text-muted: $gray;
$lato-font-path: '~lato-font/fonts';