.privat-buy-button {
	padding: 3px;
	color: #000;
	background: #75AF26;
	box-shadow: inset 0 0 0 3px #75AF26;
	background-color: #fff; 
}
.privat-buy-button:hover {
	color: #75AF26;
}

.privat-buy-button:disabled:hover {
	background-color: #fff;
}

.privat-buy-button img {
	max-width: 45px;
}