@import "~bourbon/app/assets/stylesheets/bourbon";
@import "partials/_variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css";
@import "partials/_mixins";
@import "partials/_fonts";
@import "partials/_commons";
@import "components/swiper";
@import "components/drop-down";
@import "components/search-widget";
@import "components/mainmenu";
@import "components/checkout";
@import "components/customer";
@import "components/imageslider";
@import "components/featuredproducts";
@import "components/custom-text";
@import "components/categories";
@import "components/products";
@import "components/cart";
@import "components/block-reassurance";
@import "components/quickview";
@import "components/stores";
@import "components/footer";
@import "components/contact";
@import "components/errors";
@import "components/customization-modal";
@import "components/tmmosaicproducts";
@import "components/tmmegamenu";
@import "components/tmheaderaccount";
@import "components/hooks";
@import "components/tmsearch";
@import "components/tmproductsslider";

body .container {
  max-width: calc(100% - 30px);
  padding-left: 0;
  padding-right: 0;
  @media (min-width: 1200px) {
    max-width: calc(100% - 60px);
    padding-left: 0;
    padding-right: 0;
  }
  @media (min-width: 1700px) {
    max-width: calc(100% - 168px);
  }
}

/*** HEADER ***/
#header {
  background: white;
  color: $gray;
  #header_logo {
    margin-right: 30px;
    img {
      max-width: 100%;
    }
  }
  .header-nav {
    font-size: 14px;
    > .container {
      border-bottom: $gray-lightest 3px solid;
      padding: 10px 0 7px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      position: relative;
      &:after {
        display: none;
      }
      .displayNav1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;
        > div {
          padding: 0 18px;
          border-right: 1px solid $gray-lightest;
          line-height: 28px;
          position: relative;
          &:last-child {
            border: none;
            padding-right: 0;
          }
        }
      }
      .displayNav2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
      }
    }
    .nav-links {
      ul {
        li {
          float: left;
          margin-right: 20px;
          padding-top: 5px;
          padding-bottom: 5px;
          line-height: 20px;
          a {
            color: $brand-primary;
            &:hover, &:focus, &.active, &:active {
              color: $gray-darker;
            }
          }
        }
      }
    }
    #custom-text {
      p {
        margin-bottom: 0;
        font-size: 14px;
        color: #999999;
      }
    }
    .language-selector, .currency-selector {
      white-space: nowrap;
      position: static;
      i.material-icons {
        color: $gray;
        font-size: 16px;
        line-height: 28px;
        vertical-align: middle;
        cursor: pointer;
      }
      .expand-more {
        color: $gray;
        text-transform: capitalize;
        display: inline-block;
        vertical-align: middle;
      }
      &:last-child {
        padding-right: 0;
        border-right: none;
      }
      ul.dropdown-menu {
        display: none;
        width: 100%;
        min-width: 60px;
        position: absolute;
        left: auto;
        right: 0;
        top: 100%;
        z-index: 2;
        overflow: hidden;
        background: $gray-lighter;
        font-weight: normal;
        text-align: center;
        animation-duration: 0.3s;
        animation-name: fadeInUp;
        border: none;
        font-size: 12px;
        margin: 11px 0 0;
        padding: 0;
        li {
          position: relative;
          text-transform: capitalize;
          a {
            position: relative;
            display: block;
            z-index: 2;
            padding: 8px 5px;
            color: $gray;
            > span {
              position: relative;
              z-index: 2;
            }
            &:before, &:after {
              content: '';
              position: absolute;
              left: 50%;
              right: 50%;
              top: 0;
              bottom: 0;
              background: $gray-lightest;
              transition: all 0.3s linear;
              opacity: 0;
              z-index: 1;
            }
            &:hover {
              &:before {
                left: 0;
                right: 0;
                opacity: 1;
              }
            }
          }

          &.current, &.current a, a:hover, a:focus {
            color: $gray-darker;
          }
          &.current {
            background: $gray-lightest;
          }
        }
      }
    }
    .currency-selector .expand-more {
      text-transform: lowercase;
    }
    .cart-preview {
      &.active {
        i {
          animation-duration: 1.4s;
          animation-fill-mode: both;
          animation-name: pulse;
          animation-iteration-count: infinite;
        }
      }
      .shopping-cart {
        vertical-align: middle;
      }
      .body {
        display: none;
      }
    }
    .blockcart {
      white-space: nowrap;
      a {
        color: $gray;
        &:hover {
          color: $gray;
        }
      }
      &.active {
        a:hover {
          color: $brand-primary;
        }
      }
      .header {
        margin-top: 2px;
      }
      .material-icons {
        line-height: 28px;
        margin-top: -5px;
        color: $brand-primary;
        margin-right: 6px;
      }
    }
    #menu-icon {
      vertical-align: middle;
      cursor: pointer;
      margin-left: 16px;
      .material-icons {
        line-height: 50px;
      }
    }
  }
  .header-top {
    #_desktop_tmsearch {
      z-index: 5;
    }
    padding-top: 39px;
    padding-bottom: 36px;
    a[data-depth="0"] {
      color: $gray;
      text-transform: uppercase;
    }
    .header-top-inner {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
      .header-right {
        padding-top: 5px;
        @include media-breakpoint-up(md) {
          flex: 1 1 auto;
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-end;
          align-items: center;
          .displayNav {
            justify-content: flex-end;
            order: 1;
          }
          .displayTop {
            flex: 1 1 auto;
            display: flex;
            justify-content: flex-end;
            .displayTop_menu {
              position: relative;
              display: flex;
              flex: 1 1 auto;
              justify-content: flex-end;
            }
          }
        }
        .displayTop {
          float: right;
          display: flex;
          position: relative;
        }
        .displayNav {
          float: right;
          display: flex;
        }
      }
    }
    .block-social {
      margin-left: 57px;
      padding-top: 15px;
      @include media-breakpoint-down(sm) {
        margin: 0;
        padding: 10px 0;
        text-align: left !important;
      }
    }
    .language-selector, .currency-selector {
      padding: 10px 15px;
      overflow: hidden;
      font-size: 12px;
      border-bottom: 1px solid $gray-lightest;
      ul {
        li {
          float: left;
          margin-right: 10px;
          a {
            color: $gray;
          }
          &.current, &.current a, a:hover, a:focus {
            color: $gray-darker;
          }
        }
      }
    }
    #_mobile_links {
      ul {
        padding: 10px 15px;
        overflow: hidden;
        font-size: 12px;
        li {
          float: left;
          margin-right: 10px;
          a {
            color: $gray;
            &:hover, &.active {
              color: $brand-primary;
            }
          }
        }
      }
    }
  }
}

#top-column {
  overflow: hidden;
}

.popover {
  font-family: inherit;
}
/*** WRAPPER ***/
#wrapper {
  padding-top: 60px;
  box-shadow: inset 0 8px 6px 0 rgba(204, 204, 204, 0.22);
  .banner {
    margin-bottom: 24px;
    display: block;
    img {
      box-shadow: 1px 1px 7px 0 rgba(0, 0, 0, 0.15);
    }
  }
  .breadcrumb {
    background: transparent;
    padding: 0 0 10px;
    margin-bottom: 30px;
    border-bottom: 1px solid $gray-lightest;
    &[data-depth="1"] {
      display: none;
    }
    ol {
      padding-left: 0;
      margin-bottom: 0;
    }
    li {
      display: inline;
      &::after {
        content: "/";
        color: $gray-dark;
        margin: 5px;
      }
      &:last-child {
        content: "/";
        color: $gray-dark;
        margin: 5px;
        &::after {
          content: "";
        }
        a {
          color: $brand-primary;
        }
      }
      a {
        color: $gray-darker;
        &:hover, &:focus {
          color: $brand-primary;
        }
      }
    }
  }
}
/*** MAIN ***/
#main {
  .page-header {
    margin-bottom: 25px;
  }
  .page-content {
    margin-bottom: 25px;
    h6 {
      margin-bottom: 18px;
    }
    #notifications {
      margin-left: -15px;
      margin-right: -15px;
    }
  }
  .page-footer > * {
    margin-bottom: 25px;
  }
  #displayhomegooglemap {
    margin: 0 -15px;
    @media (min-width: 1200px) {
      margin: 0 -30px;
    }
    @media (min-width: 1700px) {
      margin: 0 -84px;
    }
  }
}
#notifications {
  ul {
    margin-bottom: 0;
  }
}
/*** FOOTER ***/
#footer {
  padding-top: 40px;
}

.products_block.daydeal-box {
  .product-miniature & {
    display: none;
  }
  h3 {
    display: none;
  }
  color: $brand-primary;
  div {
    display: flex;
    span {
      font-size: 14px;
      line-height: 18px;
      margin-left: 30px;
      position: relative;
      text-align: center;
      font-weight: 300;
      &:before {
        display: block;
        content: ":";
        position: absolute;
        left: -22px;
        top: 50%;
        transform: translateY(-50%);
      }
      &:first-child {
        margin: 0;
        &:before {
          display: none;
        }
      }
      span {
        font-size: 20px;
        line-height: 20px;
        display: block;
      }
    }
  }
  #tm-products-slider & {
    margin-bottom: 5%;
    div {
      span {
        font-size: 18px;
        line-height: 22px;
        span {
          font-size: 36px;
          line-height: 34px;
        }
      }
    }
  }
}

/*** Responsive part ***/
@include media-breakpoint-down(sm) {
  #checkout-cart-summary {
    float: none;
    width: 100%;
    margin-top: 1rem;
  }
  #header {
    .header-nav {
      #_desktop_language_selector, #_desktop_currency_selector {
        display: none;
      }
      .mobile {
        flex: 1 1 auto;
      }
      .displayNav1 {
        #shopping_cart {
          border-right: none;
          border-left: 1px solid $gray-lightest;
          margin-left: 30px;
          .blockcart {
            &.inactive {
              .cart-products-count {
                display: none;
              }
            }
          }
        }
      }
    }
    .header-top {
      padding-top: 20px;
      padding-bottom: 20px;
      #header_logo {
        margin: 0 auto !important;
        max-width: 200px;
      }
    }
  }
  section.checkout-step {
    width: 100%;
  }
  .default-input {
    min-width: 100%;
  }
  label {
    clear: both;
  }
  #products .product-miniature,
  .featured-products .product-miniature {
    margin: 0 auto;
  }
  .block-contact {
    padding-left: 0.9375rem;
    border: none;
  }
  .menu,
  .dropdown-item {
    padding-left: 0;
  }
  #footer {
    padding-top: 8px;
  }
}
@include media-breakpoint-down(md) {
  #products .product-miniature,
  .featured-products .product-miniature {
    margin: 0 auto;
  }
  .sub-menu {
    left: 0;
    min-width: 100%;
  }
  #blockcart-modal .product-image {
    width: 100%;
    display: block;
    max-width: 250px;
    margin: 0 auto 15px;
  }
  #blockcart-modal .cart-content {
    padding-left: 0;
  }
  #blockcart-modal .product-name,
  #product-availability {
    margin-top: $small-space;
  }
  #search_filters .facet .facet-label {
    text-align: left;
  }
  .block-category .category-cover {
    position: relative;
    text-align: center;
  }
  .block-category {
    padding-bottom: 0;
  }
}

@include media-breakpoint-down(xs) {
  #left-column, #content-wrapper {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 1.15, 1.15);
    transform: scale3d(1.15, 1.15, 1.15);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 1.15, 1.15);
    transform: scale3d(1.15, 1.15, 1.15);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
