#products {
  color: $gray-dark;
  .products-select {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
  .up {
    margin-bottom: 16px;
    .btn-secondary {
      color: $gray;
      text-transform: inherit;
      .material-icons {
        margin-right: 0;
      }
    }
  }
  #js-active-search-filters.hide {
    display: none;
  }
  .products {
    margin-top: 50px;
  }
}
.block-category {
  overflow: hidden;
  margin-bottom: 50px;
  .category-cover {
    float: left;
    max-width: 300px;
    margin-right: 50px;
    @include media-breakpoint-down(md) {
      max-width: 150px;
    }
  }
  h1 {
    margin-top: 15px;
    margin-bottom: 20px;
  }
  #category-description {
    p,
    strong {
      font-weight: 400;
      color: $gray;
    }
    p {
      color: $gray;
      margin-bottom: 0;
      &:first-child {
        margin-bottom: $medium-space;
      }
    }
  }
}
.products-selection {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 1px solid $gray-lightest;
  margin-bottom: 30px;
  padding-bottom: 30px;
  .total-products {
    margin-right: 30px;
    p {
      margin-top: 20px;
    }
  }
  .sort-by-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .sort-by {
      color: $gray-darker;
      margin-right: 15px;
      text-transform: uppercase;
      margin-top: 0.5rem;
    }
  }
}
.products-sort-order {
  color: $gray-darker;
  .select-title {
    display: inline-block;
    width: 300px;
    color: $gray-darker;
    cursor: pointer;
    background: $gray-lightest;
    padding: 13px;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    @include media-breakpoint-down(lg) {
      width: 250px;
    }
  }
  .select-list {
    display: block;
    color: $gray-darker;
    padding: 10px 15px;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    &:hover {
      background: $brand-primary;
      color: white;
      text-decoration: none;
    }
  }
  .dropdown-menu {
    left: 0;
    right: 0;
    padding: 0;
    width: auto;
    background: $gray-lighter;
    border: none;
    border-radius: 0;
  }
}
#search_filters {
  margin-bottom: 30px;
  border-bottom: 1px solid $gray-lightest;
  padding-bottom: 30px;
  h4 {
    background: $gray-lighter;
    padding: 15px 40px 14px 20px;
    margin-bottom: 20px;
    position: relative;
    color: $gray-darker;
    i {
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      &.up {
        display: none;
      }
    }
    &.collapsed {
      i {
        &.down {
          display: none;
        }
        &.up {
          display: block;
        }
      }
    }
    .clear-all-wrapper {
      font-size: 13px;
      text-transform: lowercase;
      margin-left: 15px;
      color: $brand-primary;
      cursor: pointer;
      &:hover, &:focus {
        color: $gray-darker;
      }
    }
    @include media-breakpoint-up(lg) {
      i {
        display: none !important;
      }
      .clear-all-wrapper {
        float: right;
        margin-top: 9px;
      }
    }
  }
  .filter-wrapper {
    @include media-breakpoint-up(lg) {
      height: auto !important;
      display: block !important;
    }
    .filter-inner {
      display: flex;
      flex-wrap: wrap;
      overflow: hidden;
    }
    .facet {
      flex: 1 1 150px;
      max-width: 250px;
      font-size: 12px;
      line-height: 22px;
      padding-right: 30px;
      padding-top: $small-space;
      #facet_list {
        max-height: 132px;
        overflow: auto;
      }
      .collapse {
        display: block;
      }
      .facet-title {
        margin-bottom: 10px;
        text-transform: uppercase;
        color: $gray-darker;
      }
      .facet-label {
        margin-bottom: 0;
        font-size: 12px;
        white-space: nowrap;
        a {
          margin-top: 9px;
          display: inline-block;
          color: $gray;
          &:hover {
            color: $gray-darker;
          }
        }
        &.active {
          a {
            color: $gray-darker;
          }
        }
      }
    }
  }
}
.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  margin: 0 -15px;
  font-size: 12px;
  font-style: italic;
  > div {
    padding: 10px 15px;
  }
  .page-list {
    margin-bottom: 0;
    li {
      display: inline;
    }
  }
  a {
    color: $gray;
    font-weight: normal;
    font-style: italic;
  }
  .previous {
    float: left;
    margin-right: 10px;
    text-decoration: underline;
    color: $brand-primary;
    &.disabled {
      text-decoration: none;
      color: $gray-lightest;
    }
    &:hover {
      text-wrap: normal;
    }
  }
  .next {
    float: right;
    margin-left: 10px;
    text-decoration: underline;
    color: $brand-primary;
    &.disabled {
      text-decoration: none;
      color: $gray-lightest;
    }
    &:hover {
      text-wrap: normal;
    }
  }
  .disabled {
    color: $gray-lightest;
  }
  .current a {
    color: $brand-primary;
    text-decoration: none;
  }
}
.active_filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  .active-filter-title {
    color: $gray-darker;
    margin-right: 15px;
    text-transform: uppercase;
    margin-top: 0.5rem;
  }
  ul {
    margin: 0;
    li {
      float: left;
    }
  }
  .filter-block {
    @include box-shadow;
    color: $gray-darker;
    margin-left: $small-space;
    background: $gray-lightest;
    padding: 5px 10px;
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
    .close {
      color: $brand-primary;
      font-size: $font-size-lg;
      opacity: 1;
      margin-top: 2px;
      margin-left: 10px;
      &:hover {
        color: $gray-darker;
      }
    }
  }
}
.block-categories {
  @include box-shadow;
  background: white;
  padding: 25px 20px;
  margin-bottom: 25px;
  .category-sub-menu {
    margin-top: $small-space;
    .category-sub-link{
      font-size: $font-size-sm;
    }
    li{
      position: relative;
      &[data-depth="1"]{
        margin-bottom: $small-space;
      }
    }
    li[data-depth="0"] > a {
      font-weight: 600;
      border-bottom: $gray-light 2px solid;
      width: 100%;
      display: inline-block;
      margin: 0.3125rem 0 0;
      padding-bottom: 3px;
    }
    li:not([data-depth="0"]):not([data-depth="1"]) {
      padding-left: 5px;
      &::before {
        content: "-";
        margin-right: 5px;
      }
    }
  }
  a {
    color: $gray-darker;
  }
  .collapse-icons {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    cursor: pointer;
    &[aria-expanded="true"] {
      .add {
        display: none;
      }
      .remove {
        display: block;
      }
    }
    .add,
    .remove {
      &:hover {
        color: $brand-primary;
      }
    }
    .remove {
      display: none;
    }
  }
  .arrows {
    .arrow-right,
    .arrow-down {
      font-size: $font-size-sm;
      cursor: pointer;
      margin-left: 2px;
      &:hover {
        color: $brand-primary;
      }
    }
    .arrow-down {
      display: none;
    }
    &[aria-expanded="true"] {
      .arrow-right {
        display: none;
      }
      .arrow-down {
        display: inline-block;
      }
    }
  }
}
.facets-title {
  color: $gray-darker;
}
.products-selection {
  .filter-button {
    .btn-secondary {
      padding: 12px 8px 11px;
    }
  }
}

/*** Responsive part ***/
@include media-breakpoint-down(sm) {
  #category {
    #left-column {
      width: 100%;
      #search_filters_wrapper {
        margin-left: -30px;
        margin-right: -30px;
      }
      #search_filter_controls {
        text-align: center;
        button {
          margin: 0 8px;
        }
        margin-bottom: 16px;
      }
      #search_filters {
        margin-bottom: 0;
        box-shadow: none;
        padding: 0;
        border-top: 1px solid $gray-lighter;
        .facet {
          .title {
            cursor: pointer;
            .collapse-icons .remove {
              display: none;
            }
          }
          .title[aria-expanded="true"] {
            .collapse-icons {
              .add {
                display: none;
              }
              .remove {
                display: block;
              }
            }
          }
          padding-top: 0;
          border-bottom: 1px solid $gray-lighter;
          .facet-title {
            color: $gray-darker;
            text-transform: uppercase;
          }
          .h6 {
            margin-bottom: 0;
            padding: 10px;
            display: inline-block;
          }
          .navbar-toggler {
            display: inline-block;
            padding: 10px 10px 0 0;
          }
          .collapse {
            display: none;
            &.in {
              display: block;
            }
          }
          .facet-label {
            a {
              margin-top: 0;
            }
          }
          ul {
            margin-bottom: 0;
            li {
              border-top: 1px solid $gray-lighter;
              padding: 10px;
            }
          }
        }
      }
    }
    #content-wrapper {
      width: 100%;
    }
    #search_filter_toggler {
      width: 100%;
    }
  }
  .products-sort-order {
    .select-title {
      margin-left: 0;
    }
  }
  .products-selection {
    h1 {
      padding-top: 0;
      text-align: center;
      margin-bottom: 16px;
    }
    .showing {
      padding-top: 16px;
    }
  }
  #prices-drop #content-wrapper,
  #new-products #content-wrapper,
  #best-sales #content-wrapper {
    width: 100%;
  }
}

@include media-breakpoint-down(xs) {
  .products-selection {
    .filter-button {
      padding-left: 0;
    }
  }
  #category {
    #left-column {
      #search_filters_wrapper {
        margin-left: -15px;
        margin-right: -15px;
      }
    }
  }
}
