#custom-text {
  @include media-breakpoint-down(md) {
    display: none;
  }
  h3 {
    text-transform: uppercase;
    color: $gray-darker;
    font-size: 25px;
    font-weight: 700;
  }
  p {
    color: $gray-darker;
    font-weight: 400;
    font-size: 1.1em;
    .dark {
      color: $gray;
      font-weight: 400;
    }
  }
}
.page-content.page-cms{
  background: white;
  padding: 20px;
  text-align: justify;
  .cms-box{
    img{
      max-width: 100%;
    }
  }
}
@include media-breakpoint-down(md) {
  #block-cmsinfo {
    padding: $medium-space $large-space;
  }
}
