#products,
#pagenotfound {
  #main {
    .page-header {
      margin: 32px 0 48px;
    }
    .page-content {
      margin-bottom: 160px;
    }
  }
  .page-not-found {
    @include box-shadow;
    background: white;
    padding: 16px;
    font-size: $font-size-sm;
    color: $gray-dark;
    max-width: 570px;
    margin: 0 auto;
    h4 {
      font-size: $base-font-size;
      font-weight: 700;
      margin: 8px 0 16px;
    }
    .search-widget {
      float: none;
      input {
        width: 100%;
      }
    }
  }
}
