#products, .featured-products, .product-accessories, .product-miniature {
  > .products, div:not(.swiper-container) > .products, > .swiper-container {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    border: 3px solid $gray-lightest;
    border-bottom-width: 2px;
    border-right-width: 2px;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      border-right: 1px solid $gray-lightest;
    }
    &:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      border-bottom: 1px solid $gray-lightest;
    }
  }
  > .swiper-container .products {
    box-sizing: border-box;
  }
  .product_image {
    position: relative;
    padding: 7.5% 8% 6.3%;
    .product-thumbnail {
      display: block;
    }
  }
  .thumbnail-container {
    position: relative;
  }
  .products-section-title {
    text-align: center;
    padding-top: 22px;
    margin-bottom: 44px;
  }
  .product-heading {
    display: flex;
    justify-content: space-between;
    .product-title {
      text-transform: capitalize;
      margin: 0;
      padding: 0;
      font-size: 16px;
      line-height: 20px;
      font-weight: 600;
      font-family: $font-family-base;
      min-height: 40px;
      max-width: 210px;
      @include media-breakpoint-only(xs) {
        font-size: 12px;
        line-height: 18px;
        min-height: 36px;
      }
      a {
        color: $gray-darker;
        text-decoration: none;
        font-weight: 600;
        &:hover {
          color: $brand-primary;
        }
      }
    }
    .quick-view-wrap {
      .quick-view {
        display: block;
        transform: scale(1);
        transition: all 0.25s linear;
        color: $gray-light;
        i {
          font-size: 28px;
        }
        &:hover {
          color: $brand-primary;
        }
      }
    }
  }
  .product-description {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    .product-price-and-shipping {
      color: $gray;
      font-size: 14px;
      font-style: italic;
      line-height: 30px;
      padding-top: 14px;
      padding-bottom: 25px;
      position: relative;
      @include media-breakpoint-only(xs) {
        font-size: 12px;
        line-height: 20px;
      }
      .regular-price {
        margin-right: 10px;
        position: absolute;
        bottom: 5px;
      }
      .price {
        font-weight: 600;
        color: $brand-primary;
        font-size: 22px;
        margin-right: 6px;
        font-style: normal;
        @include media-breakpoint-up(lg) {
          font-size: 30px;
        }
        @include media-breakpoint-only(xs) {
          font-size: 17px;
        }
      }
      .discount-percentage {
        display: none;
      }
    }
    .product-add-to-cart {
      padding-bottom: 25px;
      .add-to-cart {
        font-weight: normal;
        i {
          font-size: 28px;
          @include media-breakpoint-up(lg) {
            font-size: 38px;
          }
        }
        &:hover {
          color: $gray-darker;
        }
      }
    }
  }
  .product-miniature {
    padding: 10px 10px 0;
    border-right: 1px solid $gray-lightest;
    border-bottom: 1px solid $gray-lightest;
    @include media-breakpoint-up(md) {
      padding: 15px 15px 0;
    }
    @include media-breakpoint-up(xl) {
      padding: 30px 30px 0;
    }
    .discount {
      display: none;
    }
    &:hover {
      background: $gray-lighter;
      .product-heading .quick-view-wrap .quick-view {
        transform: scale(1.2);
      }
    }
  }
  .comments_note {
    text-align: center;
    color: $gray;
  }
  .regular-price {
    color: $gray;
    text-decoration: line-through;
    font-size: $font-size-sm;
  }
  .count {
    color: $gray-dark;
    font-weight: 700;
    position: relative;
    bottom: 8px;
  }
  .all-product-link {
    clear: both;
    color: $gray-dark;
    font-weight: 700;
    margin-top: 24px;
    margin-bottom: 24px;
  }
}

.featured-products {
  margin: 0 0 50px;
  @media (min-width: 1200px) {
    margin: 0 0 82px;
  }
}
#products {
  margin-top: 20px;
}