/**************************************************************************
		        Main style TM HTML Content
**************************************************************************/
#tmhtmlcontent_displayNav {
  margin-left: 70px;
  .tmhtmlcontent-displayNav {
    margin-bottom: 0;
    a {
      text-decoration: none;
      &:hover {
        .item-html {
          strong {
            color: $brand-primary;
          }
        }
      }
    }
    .item-html {
      padding-top: 4px;
      strong {
        font-size: 20px;
        line-height: 24px;
        color: $gray-darker;
        letter-spacing: 1.6px;
        font-weight: 900;
        margin-bottom: 10px;
        text-decoration: none;
        @media (max-width: 1750px) {
          font-size: 16px;
          line-height: 20px;
          margin-bottom: 5px;
        }
      }
      .hour_work {
        font-style: italic;
        display: block;
        color: $gray;
        padding-top: 3px;
        text-decoration: none;
        font-size: 14px;
        @media (max-width: 1750px) {
          font-size: 12px;
          padding-top: 0;
        }
      }
    }
  }
  @include media-breakpoint-down(sm) {
    margin: 0;
    padding: 10px 15px;
    .tmhtmlcontent-displayNav {
      margin: 0;
      li {
        padding: 0;
      }
    }
  }
}

#tmhtmlcontent_home {
  margin-bottom: 82px;
  ul.row {
    margin: 0;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

    li {
      padding: 0;
      position: relative;
      width: (100/3) !important;

      @media (min-width: 992px) and (max-width: 1799px) {
        width: 33% !important;
      }

      img {
        max-width: 100%;
        height: auto;
      }

      .item-html {
        display: block;

        p, h2, h3 {
          font-family: $font-custom;
        }

        .link_btn {
          text-decoration: underline;
          text-transform: uppercase;
          font-size: 14px;
          font-weight: bold;
          &:hover {
            text-decoration: none;
          }
        }

        .content_center,
        .content_left,
        .content_bottom {
          position: absolute;
          left: 0;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          text-align: center;

          @media (max-width: 543px) {
            padding: 30px;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 80%;
          }
        }

        .content_center, .content_bottom {
          @media (max-width: 543px) {
            background: rgba($color-light, .4);
          }
        }
        .content_left {
          @media (max-width: 543px) {
            background: rgba($gray, .4);
          }
        }

        .content_center {
          h2 {
            color: $brand-primary;
            font-size: 32px;
            font-weight: normal;
            line-height: 1.1;
            > span {
              color: $color-light;
              font-weight: 800;
            }
          }

          h3 {
            font: $font-custom;
            font-style: italic;
            font-weight: normal;
            font-size: 24px;
            line-height: 1.1;
            padding-top: 10px;
          }

          .link_btn {
            color: $brand-primary;
            font-family: $font-family-base;
            font-size: 14px;
            line-height: 20px;
          }
          @media (max-width: 1400px) {
            h2 {
              font-size: 28px;
            }

            h3 {
              font-size: 20px;
            }

            .link_btn {
              font-size: 13px;
            }
          }
          @media (min-width: 1401px) {
            h2 {
              font-size: 53px;
            }

            h3 {
              + p {
                padding-top: 15px;
              }
            }
          }
          @include media-breakpoint-only(sm) {
            h2 {
              font-size: 17px;
              margin-bottom: 0;
            }
            h3 {
              font-size: 14px;
            }
            p {
              font-size: 12px;
            }
            .link_btn {
              font-size: 11px;
            }
          }
        }

        .content_left {
          h2 {
            font-weight: 600;
            color: $color-light;
            margin-top: 0;
            text-transform: uppercase;
            font-size: 32px;
            > span {
              font-style: italic;
              display: block;
              font-weight: normal;
              text-transform: none;
            }
          }

          h3 {
            color: $brand-primary;
            font-weight: 600;
            text-transform: uppercase;
            padding-top: 12px;
            line-height: 1.1;
            > span {
              color: $color-light;
              display: block;
              text-transform: uppercase;
              font-weight: normal;
            }

          }

          p {
            font: italic 400 16px/1.2 $font-family-base;
            margin-bottom: 4px;
            letter-spacing: 0.04em;
          }

          a.btn {
            font-style: normal;
            color: $color-light;
          }
          @media (max-width: 1400px) {
            h2 {
              font-size: 28px;
            }
            h3 {
              font-size: 20px;
            }
            p {
              font-size: 15px;
            }
          }
          @media (min-width: 544px) {
            text-align: left;
            top: 10%;
            left: 10%;
            transform: translate(0, 0);
          }
          @media (min-width: 1401px) {
            h2 {
              font-size: 48px;
              line-height: 1.1;
              > span {
                font-size: 58px;
                padding-left: 4%;
                color: $color-light;
              }
            }

            h3 {
              font-size: 31px;
              > span {
                font-size: 17px;
              }
            }
          }

          @media (min-width: 1600px) {
            h3 {
              + p {
                padding-top: 38%;
              }
            }
          }
          @include media-breakpoint-only(sm) {
            h2 {
              font-size: 17px;
            }
            h3 {
              font-size: 14px;
            }
            p {
              font-size: 12px;
            }
          }
        }

        .content_bottom {
          h2 {
            font-weight: 900;
            color: $gray-darker;
            font-family: $font-family-base;
          }

          h3 {
            font-style: italic;
            margin-top: 0;
            font-weight: normal;
          }
          p {
            text-transform: uppercase;
            margin-bottom: 0;
          }

          p, h3 {
            color: $brand-primary;
          }
          .link_btn {
            color: $gray-darker;
            font-family: $font-family-base;
            font-weight: 600;
            letter-spacing: 0.12em;
          }
          @media (max-width: 1400px) {
            h2 {
              font-size: 28px;
            }
            h3 {
              font-size: 20px;
            }
          }
          @media (min-width: 544px) {
            bottom: 10%;
            transform: translate(0, 0);
            top: auto;
          }
          @media (min-width: 1401px) {
            h2 {
              font-size: 58px;
              margin-top: 19px;
              margin-bottom: 16px;
            }
            h3 {
              font-size: 28px;
              margin-bottom: 21px;
            }
            p {
              font-size: 18px;
            }
          }
          @include media-breakpoint-only(sm) {
            h2 {
              font-size: 17px;
              margin-top: 5px;
              margin-bottom: 5px;
              line-height: 1.1;
            }
            h3 {
              font-size: 14px;
              margin-bottom: 3px;
            }
            p {
              font-size: 12px;
              .link_btn {
                font-size: 11px;
              }
            }
          }
        }
        .button-wrap {
          position: absolute;
          left: 10%;
          bottom: 10%;
          margin: 0;
          @include media-breakpoint-down(sm) {
            display: none;
          }
        }
      }
    }
  }
}
