.carousel {
  @include media-breakpoint-only(xs) {
    margin-left: -150px;
    margin-right: -150px;
  }
  .carousel-inner {
    margin-bottom: 0;
  }
  .carousel-item {
    height: 100%;
    figure {
      margin: 0;
    }
    img {
      width: 100%;
      margin-left: 0;
    }
    .caption {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 100%;
      width: 100%;
      @include media-breakpoint-only(xs) {
        left: 150px;
        width: calc(100% - 300px);
      }
      .caption-description {
        cursor: pointer;
        position: absolute;
        width: 100%;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        @media (min-width: 1750px) {
          width: 73.6%;
        }
        @media (min-width: 768px) and (max-width: 1749px) {
          width: 93%;
        }
        .left-text,
        .text-right,
        .text-center {
          position: absolute;
          margin-top: 30px;

          h2, h3 {
            margin: 0;
            padding: 0;
          }

          h3 {
            font-family: $font-custom;
          }
          h3 + p {
            margin-top: 10px;
          }

          @media (min-width: 1600px) {
            padding-top: 12%;
            h3 + p {
              margin-top: 35px;
            }
          }

          @media (min-width: 992px) and (max-width: 1599px) {
            padding-top: 8%;
          }

          @include media-breakpoint-only(md) {
            margin-top: 50px;
          }

        }

        .left-text,
        .text-center {
          h2 {
            color: $gray-darker;
            font-size: 15px;
            line-height: 20px;
            font-family: $font-custom;
          }

          h3 {
            font-size: 24px;
            line-height: 30px;
          }

          @media (min-width: 1600px) {
            h2 {
              font-size: 50px;
              line-height: 63px;
              font-weight: normal;
            }

            h3 {
              font-size: 80px;
              line-height: 70px;
            }
          }

          @media (min-width: 992px) and (max-width: 1599px) {
            h2 {
              font-size: 25px;
              line-height: 40px;
            }

            h3 {
              font-size: 25px;
              line-height: 40px;
            }
          }
        }

        .left-text {
          left: 0;
          @include media-breakpoint-only(sm) {
            left: 25px;
          }
          @include media-breakpoint-only(xs) {
            left: 10px;
          }

          h2 {
            > span {
              color: $brand-primary;
            }
          }

          h2 + h3 {
            margin-top: 5px;
          }

          h3 {
            font-style: italic;
            color: $gray-darker;
            font-weight: normal;
            > span {
              font-weight: 700;
              font-style: normal;
              letter-spacing: 3.2px;
              color: $brand-primary;
            }
          }

        }

        .text-right {
          text-align: left;
          right: 0;
          @include media-breakpoint-only(sm) {
            right: 25px;
          }
          @include media-breakpoint-only(xs) {
            right: 10px;
          }

          h2 {
            color: $color-light;
            font-size: 14px;
            font-weight: 700;
          }

          h3 {
            font-size: 23px;
            font-weight: 800;
            color: $color-light;
            > span {
              color: $brand-primary;
              font-style: italic;
              font-weight: normal;
            }
          }

          @media (min-width: 1600px) {
            h2 {
              font-size: 40px;
            }
            h3 {
              font-size: 70px;
            }
          }

          @media (min-width: 992px) and (max-width: 1599px) {
            h2 {
              font-size: 25px;
            }

            h3 {
              font-size: 40px;
            }
          }

        }

        .text-center {
          text-align: center;
          left: 50%;
          transform: translateX(-50%);
          width: 90%;

          h3 {
            color: $gray-darker;
            font-weight: 800;
            font-style: normal;
            > span {
              color: $brand-primary;
              font-style: italic;
              font-weight: normal;
            }
          }
        }

        h2 {
          position: relative;
        }
        p {
          position: relative;
          font-size: 14px;
          font-weight: 300;
          @media (min-width: 1600px) {
            font-size: 24px;
          }

        }

        p + p {
          margin-top: 10px;
          @media (min-width: 1600px) {
            margin-top: 40px;
          }

        }

        a.btn {
          display: inline-block;
        }

        button {
          position: relative;
        }
      }
    }
  }
  .carousel-indicators {
    @include media-breakpoint-down(sm) {
      bottom: 0;
    }
  }
  .carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
    li {
      display: inline-block;
      text-align: center;
      border-radius: 50%;
      position: relative;
      width: 12px;
      height: 12px;
      outline: none;
      cursor: pointer;
      span {
        transition: all 0.3s linear;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        outline: none;
        border-radius: 50%;
        background-color: #fff;
        cursor: pointer;
        &:after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          visibility: hidden;
          border-radius: 50%;
          opacity: 0;
          background: $brand-primary;
          transform: scale(3);
          transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s 0.3s;
        }
        &:before {
          content: '';
          position: absolute;
          width: 22px;
          height: 22px;
          background: #fff;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          border-radius: 50%;
          opacity: 0;
        }
      }
      &.active span, & span:hover {
        background: $brand-primary;
        &:before {
          opacity: .4;
        }
        &:after {
          visibility: visible;
          opacity: 1;
          transform: scale(1);
          transition: opacity 0.3s ease, transform 0.3s ease;
        }
      }
      & + li {
        margin-left: 20px;
      }
    }
  }
}