#product {
  .product-info-wrap {
    border: 3px solid $gray-lightest;
    .product-wrap {
      border-bottom: 1px solid $gray-lightest;
      @include media-breakpoint-up(md) {
        display: flex;
      }
      .product-left {
        padding: 20px;
        position: relative;
        @include media-breakpoint-up(md) {
          width: 50%;
          float: left;
          border-right: 1px solid $gray-lightest;
        }
        @include media-breakpoint-down(sm) {
          border-bottom: 1px solid $gray-lightest;
        }
        .page-content {
          margin-bottom: 0;
        }
      }
      .product-right {
        padding: 30px;
        @include media-breakpoint-up(md) {
          width: 50%;
          float: left;
        }
        @include media-breakpoint-up(xl) {
          padding: 50px 60px;
        }
      }
    }
  }
}
.product-price {
  color: $brand-primary;
  display: inline-block;
}
.product-information {
  .manufacturer-logo {
    height: 35px;
  }
}
.input-color {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 20px;
  width: 20px;
}
.input-container {
  position: relative;
}
.input-radio {
  position: absolute;
  top: 0;
  cursor: pointer;
  opacity: 0;
  width: 100%;
  height: 100%;
}
.input-color,
.input-radio {
  &:checked + span,
  &:hover + span {
    border: 2px solid $gray-darker;
  }
}
.radio-label {
  @include box-shadow;
  background: white;
  display: inline-block;
  padding: 2px $small-space;
  font-weight: 600;
  border: 2px solid white;
}
.product-actions {
  margin-top: 21px;
  .control-label {
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: $gray-darker;
    margin-bottom: 3px;
    font-weight: 600;
    display: block;
    width: 100%;
  }
  .add-to-cart {
    .material-icons {
      line-height: inherit;
      vertical-align: -6px;
    }
  }
}
.product-quantity {
  .qty {
    width: 203px;
    margin-bottom: 30px;
    .input-group-btn {
      > .btn {
        font-size: 22px;
      }
    }
  }
  .add {
    float: left;
    margin-bottom: 8px;
  }
  #quantity_wanted {
    border: none;
    text-align: center;
  }
}
.product-discounts {
  margin-bottom: 24px;
  > .product-discounts-title {
    font-weight: normal;
    font-size: $font-size-sm;
  }
  > .table-product-discounts {
    thead tr th {
      width: 33%;
      padding: $small-space $medium-space;
      background: white;
      border: 5px $gray-light solid;
      text-align: center;
    }
    tbody tr {
      background: $gray-lighter;
      &:nth-of-type(even) {
        background: white;
      }
      td {
        padding: $small-space $medium-space;
        text-align: center;
        border: 5px $gray-light solid;
      }
    }
  }
}
.product-prices {
  margin-top: 7px;
  margin-bottom: 9px;
  font-size: 30px;
  line-height: 40px;
  font-weight: 600;
  .regular-price {
    text-decoration: line-through;
    font-weight: normal;
    margin-right: $small-space;
    color: $gray-light;
    font-size: 20px;
  }
  .tax-shipping-delivery-label {
    font-size: 13px;
    color: $gray-dark;
  }
  .discount {
    display: none !important;
  }
}
.has-discount {
  &.product-price, p {
    color: $brand-primary;
  }
  .discount {
    background: $brand-primary;
    color: white;
    font-weight: 600;
    padding: 5px $small-space;
    font-size: $font-size-base;
    margin-left: $small-space;
    text-transform: uppercase;
    display: inline-block;
  }
}
.product-unit-price {
  font-size: $font-size-xs;
  margin-bottom: 0;
}
.tabs {
  padding: 20px 30px;
  max-width: 1110px;
  margin: 0 auto;
  .tab-pane {
    padding-top: 33px;
    &#product-details {
      > div {
        margin-bottom: 30px;
        text-align: center;
      }
      .product-features {
        .h2 {
          text-align: center;
        }
        .name {
          border-bottom: 1px solid $gray-lighter;
          text-align: right;
          background: none;
          margin: 0;
          padding-right: 20px;
        }
        .value {
          border-left: 1px solid $gray-lighter;
          border-bottom: 1px solid $gray-lighter;
          background: none;
          margin: 0;
          padding-left: 20px;
        }
      }
    }
  }
  .nav-tabs {
    border: none;
    text-align: center;
    padding-top: 29px;
    .nav-item {
      display: inline-block;
      float: none;
      margin: 0 15px;
      text-transform: uppercase;
      font-size: 14px;
      color: $gray-darker;
      .nav-link {
        color: $gray-darker;
        border-width: 0;
        border-bottom-width: 3px;
        font-weight: 600;
        padding-left: 0;
        padding-right: 0;
        &.active {
          border: none;
          border-bottom: $brand-primary 3px solid;
          color: $brand-primary;
        }
        &:hover {
          border: none;
          border-bottom: $brand-primary 3px solid;
        }
      }
    }
  }
}
.product-cover {
  margin-bottom: $medium-space;
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
  .layer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: white;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    background: rgba(255,255,255,0.7);
    text-align: center;
    cursor: pointer;
    transition: opacity .7s ease-in-out;
    &:hover {
      opacity: 1;
    }
    .zoom-in {
      font-size: 100px;
      color: $gray-light;
    }
  }
}
#product-modal {
  .modal-dialog {
    width: 840px;
    max-width: calc(100% - 40px);
    .modal-content {
      background: transparent;
      border: none;
      padding: 0;
      .modal-body {
        padding: 0;
        #el_prev {
          left: -25px;
        }
        #el_next {
          right: -25px;
        }
        .product-cover-modal {
          background: white;
        }
        figure {
          margin: 0;
        }
        .image-caption {
          background: white;
          width: 100%;
          padding: 10px 20px;
          border-top: $gray-light 1px solid;
          p {
            margin-bottom: 0;
          }
        }
        #thumbnails {
          position: absolute;
          left: 0;
          top: 100%;
          width: 100%;
          text-align: center;
          ul {
            justify-content: center;
            padding: 10px;
            li {
              display: inline-block;
              margin: 0 5px;
              min-width: 0;
              padding: 0;
              max-width: none;
              span {
                width: 20px;
                height: 20px;
                display: block;
                padding: 0;
                background: $gray-darker;
                border: none;
                &.selected {
                  background: $brand-primary;
                }
              }
            }
          }
        }
      }
    }
  }
}
#blockcart-modal {
  color: $gray-darker;
  .modal-header {
    background: $brand-success;
  }
  .modal-body {
    background: #fff;
    padding: 50px 30px;
    > .row {
      overflow: hidden;
    }
    .divide-right span {
      display: inline-block;
      margin-bottom: 5px;
    }
  }
  .modal-dialog {
    max-width: 1140px;
    width: 100%;
  }
  .product-image {
    width: 210px;
  }
  .modal-title {
    font-weight: 600;
    color: white;
    font-size: 18px;
    i.material-icons {
      margin-right: $large-space;
    }
  }
  .product-name {
    color: $brand-primary;
    font-size: 18px;
  }
  .cart-products-count {
    font-size: 18px;
  }
  .cart-content {
    padding-left: $extra-large-space;
    button {
      margin-right: 5px;
    }
  }
  .divide-right {
    &:before {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      height: 2000px;
      border-left: 1px solid $gray-lightest;
      margin-top: -1000px;
    }
  }
}
.product-images {
  display: flex;
  margin: 0 -4px;
  margin-bottom: 0;
  > li.thumb-container {
    max-width: 20%;
    min-width: 20%;
    padding: 0 4px;
    > .thumb {
      cursor: pointer;
      width: 100%;
      padding: 3px;
      background: $gray-lighter;
      border: $gray-lighter 3px solid;
      @include media-breakpoint-up(xl) {
        padding: 10px;
      }
      @include media-breakpoint-only(sm) {
        padding: 10px;
      }
      &.selected,
      &:hover {
        border: $gray-lightest 3px solid;
      }
    }
  }
}
#main {
  .images-container {
    position: relative;
    .js-qv-mask {
      white-space: nowrap;
      overflow: hidden;
      &.scroll {
        margin-bottom: 0;
      }
    }
  }
}
.scroll-box-arrows {
  display: none;
  &.scroll {
    display: block;
  }
  i {
    position: absolute;
    bottom: 6.5%;
    height: 24px;
    line-height: 24px;
    cursor: pointer;
    color: $gray-light;
    &:hover {
      color: $gray-darker;
    }
  }
  .left {
    left: -22px;
  }
  .right {
    right: -22px;
  }
}
.product_header {
  font-family: $font-family-base;
  color: $gray-darker;
  font-weight: normal;
}
#product-availability {
  display: inline-block;
  font-weight: 900;
  font-size: 14px;
  color: $gray-darker;
  line-height: 30px;
  margin: 11px 0;
  .material-icons {
    line-height: inherit;
  }
  .product-available {
    color: $brand-success;
  }
  .product-unavailable {
    color: $brand-warning;
  }
  .product-last-items {
    color: $brand-warning;
  }
}
#product-reference {
  font-size: 14px;
  font-style: italic;
  color: $gray-darker;
  margin-bottom: 15px;
}
#product-details {
  .label {
    font-size: $font-size-base;
    color: $gray-darker;
    font-weight: bold;
  }
}
.product-features {
  margin-top: $medium-space;
  margin-left: 5px;
  > dl.data-sheet {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    dd.value,
    dt.name {
      flex: 1 0 40%;
      font-weight: normal;
      background: $gray-light;
      padding: $small-space;
      margin-right: $small-space;
      min-height: 40px;
      word-break: break-all;
      &:nth-of-type(even) {
        background: $gray-lighter;
      }
    }
    dt.name {
      text-transform: capitalize;
    }
  }
}
.product-variants {
  > .product-variants-item {
    margin: 16px 0;
    select {
      max-width: 203px;
    }
    ul li {
      margin-right: $small-space;
    }
    .color {
      margin-left: 0;
      margin-top: 0;
    }
  }
}
.product-flags {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 14px;
  line-height: 17px;
  font-style: italic;
  color: $color-light;
  li {
    float: left;
    clear: left;
    margin-top: 15px;
    padding: 0 6px;
    padding-top: 2px;
    &.new {
      background: $gray-darker;
    }
    &.on-sale {
      background: $brand-primary;
    }
    &.online-only {
      background: $brand-warning;
    }
  }
}

.product-customization {
  @include box-shadow;
  margin: $extra-large-space 0;
  .product-customization-item {
    margin: $medium-space 0;
  }
  .product-message {
    background: $gray-light;
    border: none;
    width: 100%;
    height: 50px;
    resize: none;
    padding: 10px;
    ::placeholder {
      color: $gray;
    }
  }
  .file-input {
    width: 100%;
    opacity: 0;
    left: 0;
    z-index: 1;
    cursor: pointer;
    height: 42px;
    overflow: hidden;
    position: absolute;
  }
  .custom-file {
    position: relative;
    background: $gray-light;
    width: 100%;
    height: 42px;
    line-height: 42px;
    text-indent: 10px;
    display: block;
    color: $gray;
    margin-top: $medium-space;
    button {
      z-index: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  small {
    color: $gray;
  }
}
.product-pack {
  margin-top: $extra-large-space;
  .pack-product-container {
    display: flex;
    justify-content: space-around;
    .pack-product-name {
      flex: 0 0 50%;
      font-size: 14px;
      color: $gray;
    }
    .pack-product-quantity {
      border-left: $gray-light 2px solid;
      padding-left: $small-space;
    }
    .pack-product-name,
    .pack-product-price,
    .pack-product-quantity {
      display: flex;
      align-items: center;
    }
  }
}
.product-refresh {
  margin-top: $medium-space;
}
.social-sharing {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 24px;
  ul {
    margin-bottom: 0;
    line-height: 0;
  }
  li {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 4px 4px;
    cursor: pointer;
    margin-left: 8px;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    a {
      display: block;
      width: 100%;
      height: 100%;
      white-space: nowrap;
      text-indent: 100%;
      overflow: hidden;
      &:hover {
        color: transparent;
      }
    }
  }
}
.products-selection {
  margin-bottom: $medium-space;
  .title {
    color: $gray-dark;
  }
}
#blockcart-modal .cart-content {
  .btn {
    margin-bottom: $small-space;
  }
}
@include media-breakpoint-down(md) {
  .product-cover {
    img {
      width: 100%;
    }
  }
  #product-modal .modal-content .modal-body {
    flex-direction: column;
    margin-left: 0;
    img.product-cover-modal {
      width: 100%;
    }
    .arrows {
      display: none;
    }
  }
  #product-modal .modal-content .modal-body .image-caption {
    width: 100%;
  }
  #blockcart-modal {
    .modal-dialog {
      width: calc(100% - 20px);
    }
    .modal-body {
      padding: 30px;
    }
  }
}

@include media-breakpoint-down(sm) {
  #blockcart-modal {
    .divide-right {
      border-right: none;
    }
    .modal-body {
      padding: 16px;
    }
  }
}

.product-accessories {
  margin-bottom: 82px;
  padding-top: 50px;
}
