.quickview {
  .modal-dialog {
    width: calc(100% - 30px);
    max-width: 1024px;
  }
  .modal-content {
    background: #fff;
    min-height: 450px;
    border-radius: 0;
  }
  .modal-header {
    border: none;
    padding: $small-space;
  }
  .modal-body {
    min-height: 380px;
    overflow: hidden;
    padding: 30px;
    > .row {
      margin: 0 -30px;
      > div {
        padding-left: 30px;
        padding-right: 30px;
        &:last-child {
          &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            height: 2000px;
            border-left: 1px solid $gray-lightest;
            margin-top: -1000px;
          }
        }
      }
    }
  }
  .modal-footer {
    border-top: 1px solid rgba($gray,.3);
    margin-top: 30px;
  }
  .layer {
    display: none;
  }
  .arrow-left {
    position: absolute;
    left: 0;
    bottom: 7%;
    cursor: pointer;
  }
  .arrow-right {
    position: absolute;
    right: 0;
    bottom: 6.3%;
    cursor: pointer;
  }
  .js-qv-mask.mask {
    position: relative;
    overflow: hidden;
    width: 100%;
  }
  .product-images {
    border: none;
    padding: 0;
    margin: 0;
    > li.thumb-container {
      border: none;
      padding: 0;
      margin: 0;
      .thumb {
        border-color: #ffffff;
        padding: 0;
        margin: 0;
      }
    }
  }
  .social-sharing {
    margin-top: 0;
    margin-left: $extra-large-space;
  }
}
