/*
* @package      Style for TM Header Account Block
* @description  This section holds specific style redeclarations for
*               TM Header Account Block
*/

#tmHeaderAccountNav2 {
  position: relative;
  float: right;
  @include media-breakpoint-down(sm) {
    position: static;
  }
  div.current {
    border-right: none;
    padding: 5px 0;
    a {
      text-decoration: none;
      color: $brand-primary;
      &:hover {
        color: $gray-darker;
      }
      &.dropdown {
        &:after {
          content: "\E5CF";
          font-family: 'Material Icons';
          font-size: 16px;
          line-height: 20px;
          color: $gray;
          padding-left: 6px;
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
    &.active a {
      color: $gray-darker;
      &.dropdown {
        &:after {
          content: "\E5CE";
        }
      }
    }
  }
  .header-login-content {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 99;
    margin-top: 10px;
    @include media-breakpoint-down(sm) {
      left: auto;
      right: 0;
      margin-top: 3px;
    }
    #create_header_account_error {
      padding: 8px;
    }
  }
}

/*
* @section      Style for login wrapper
* @description  This section holds specific style redeclarations for
*               login content wrapper
*/

.header-login-content {
  padding: 40px;
  margin: 0;
  background: $color-light;
  color: $gray;
  @include box-shadow;
  @include media-breakpoint-down(sm) {
    padding: 15px;
  }
  li {
    margin: 0;
    padding: 0;
    &.user-data {
      overflow: hidden;
      img {
        float: left;
        margin-bottom: 18px;
        margin-right: 20px;
      }
      p {
        span {
          display: block;
          white-space: nowrap;
        }
      }
    }
    ul {
      margin:0 0 16px;
      li {
        display: block;
        overflow: hidden;
        a {
          color: $gray-darker;
          &:hover {
            color: $brand-primary;
          }
          i {
            display: none;
          }
        }
      }
    }
    &.onecolumn {
      min-width: 205px;
    }
    &.twocolumns {
      min-width: 405px;
      @include media-breakpoint-down(sm) {
        min-width: 260px;
      }
      > ul {
        width: 50%;
        float: left;
      }
    }
  }
  &:not(.is-logged) > li {
    width: 275px;
    @include media-breakpoint-down(sm) {
      width: 260px;
    }
  }
  img {
    max-width: 100%;
  }
  .form-group {
    margin-bottom: 14px;
    label {
      margin-bottom: 0;
      sup {
        color: $brand-warning;
      }
    }
    input {
      background-position: 98% 12px;
    }
    .form_info {
      color: $brand-warning;
    }
  }
  p {
    margin-bottom: 17px;
    &.submit {
      padding-top: 3px;
    }
    &.logout {
      margin: 0;
      overflow: hidden;
      clear: both;
    }
    .forgot-password {
      color: $gray-darker;
      &:hover {
        color: $brand-primary;
      }
    }
  }
  .btn-md {
    width: 100%;
  }
  .create-account-content {
    .row {
      margin: 0 -3px;
      > div {
        padding: 0 3px;
      }
    }
    .social-login-buttons {
      div {
        margin-bottom: 15px;
        &.one-element {
          .btn {
            margin-left: 0;
            font-size: 12px;
            line-height: 1.1;
            span {
              margin: 0;
            }
            &:before {
              display: none;
            }
          }
        }
      }
    }
  }
  .forgot-password-content {
    .signin {
      i {
        margin-right: 5px;
      }
    }
  }
}

/*
* @section      Style for social account
*/

.social-login-buttons {
  margin: 0 -4px;
  div {
    padding: 0 4px;
    margin-bottom: 17px;
    .btn {
      width: 100%;
      color: #fff;
      span {
        margin-left: 10px;
      }
      &:before {
        display: inline-block;
        font: normal 21px/1em 'Material Icons';
      }
      &.btn-login-facebook {
        background-color: #3b5998;
        border: 1px solid #294173;
        box-shadow: inset 0 0 0 1px #6c91cf;
        &:hover {
          background-color: darken(#3b5998, 10);
          border-color: darken(#294173, 10);
          box-shadow: inset 0 0 0 1px darken(#6c91cf, 10);
        }
      }
      &.btn-login-google {
        background-color: #df4a32;
        border: 1px solid #bf3822;
        box-shadow: inset 0 0 0 1px #f58265;
        &:hover {
          background-color: darken(#df4a32, 10);
          border-color: darken(#bf3822, 10);
          box-shadow: inset 0 0 0 1px darken(#f58265, 10);
        }
      }
      &.btn-login-vk {
        background-color: #3383c1;
        border: 1px solid #205ca0;
        box-shadow: inset 0 0 0 1px #5eb0e2;
        &:hover {
          background-color: darken(#3383c1, 10);
          border-color: darken(#205ca0, 10);
          box-shadow: inset 0 0 0 1px darken(#5eb0e2, 10);
        }
      }
    }
  }
}

/*
* @section      Style for left and right sidebars
* @description  This section holds specific style redeclarations for
*               left and right sidebars
*/

.tmha-sidebar-left, .tmha-sidebar-right {
  background: #f7f7f7;
  height: 100%;
  position: fixed;
  transition: all 0.3s ease;
  top: 0;
  z-index: 99999;
  overflow: auto;
  max-height: 100%;
}

.tmha-sidebar-left {
  left: 0;
  transform: translateX(-100%);
}

.tmha-sidebar-right {
  right: 0;
  transform: translateX(100%);
  .tmha-close-btn {
    right: auto;
    left: 19px;
  }
}

.tmha-sidebar-left.active {
  left: 0;
  transform: translateX(0);
}

.tmha-sidebar-right.active {
  right: 0;
  transform: translateX(0);
}

.tmha-close-btn {
  position: absolute;
  top: 15px;
  right: 19px;
  cursor: pointer;
  display: block;
  color: #b0b0b0;
  outline: none !important;
  transition: all 0.3s ease;
  transform: scale(1);
  &:before {
    font: normal 18px/1.1 'Material Icons';
    content: '\E5CD';
  }
  &:hover {
    color: #333;
  }
}

/*
* @section      Style for left and right columns
* @description  This section holds specific style redeclarations for
*               left and right columns
*/

#columns {
  .header-login-content {
    padding: 20px;
    li.user-data {
      p span {
        display: inline-block;
      }
      img {
        float: none;
      }
    }
    &:not(.is-logged) li {
      width: 100%;
    }
  }
  #center_column {
    .social-login-buttons {
      div {
        .btn span {
          @media (min-width: 992px) {
            display: inline-block;
            font-size: 13px;
          }
          @media (min-width: 1200px) {
            font-size: 15px;
          }
        }
      }
    }
  }
}

.hidden {
  display: none;
}