.top_menu {
  clear: both;
  float: none;
  width: 100%;
}

.row-top {
  position: relative;
  width: 100%;
  margin: 0;
  left: 0;
  right: 0;
  text-align: center;
  top: 0;
  padding-bottom: 35px;
  background: $color-light;
  &.isStuck {
    padding-bottom: 7px;
    padding-top: 3px;
    box-shadow: 0 5px 13px rgba(0, 0, 0, 0.2);
    .top_menu {
      max-width: 1170px;
      margin: 0 auto;
      .is-megamenu,
      .is-simplemenu {
        top: 42px;
      }
      .is-simplemenu {
        margin-top: -3px;
      }
    }
    .tmsearch_wrap {
      span.current.active:before {
        top: 8px;
      }
    }
  }
}

@include media-breakpoint-down(md){
  .isStuck .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.displayTop_menu {
  position: relative;
  > ul {
    padding: 0;
    display: inline-block;
    margin-bottom: 0;
    text-align: left;
    > li {
      display: inline-block;
      padding: 14px 14px 4px;
      font-size: 14px;
      line-height: 22px;
      @include media-breakpoint-up(xl){
        padding-left: 26px;
        padding-right: 26px;
      }
      @include media-breakpoint-only(md){
        padding-left: 10px;
        padding-right: 10px;
      }
      > a {
        display: block;
        border-left: 0;
        color: $gray-darker;
        font-weight: 600;
        letter-spacing: 2px;
        padding: 0 0 10px;
        text-transform: uppercase;
        position: relative;
        @include media-breakpoint-down(md){
          font-size: 13px;
        }
        &:before {
          position: absolute;
          content: '';
          background: $brand-primary;
          left: 50%;
          right: 50%;
          bottom: 0;
          height: 3px;
          transition: .4s;
        }
      }

      &.sfHover > a, &.sfHoverForce > a, > a:hover {
        @include media-breakpoint-up(md) {
          &:before {
            left: 0;
            right: 0;
            animation: fadeInDown .6s;
          }
        }
      }

      &:hover {
        > span.menu-mobile-grover:before {
          color: $gray-darker;
        }
      }

      ul.is-simplemenu, ul.is-simplemenu ul {
        @include media-breakpoint-up(md) {
          display: none;
          width: 200px;
          top: -1px;
          right: -200px;
          position: absolute;
          z-index: 99;
          background: #fff;
          box-shadow: 0 5px 13px rgba(0, 0, 0, 0.2);
          border-bottom: 3px solid $brand-primary;
          border-top: 3px solid $brand-primary;
        }
        @include media-breakpoint-down(sm) {
          background: #fff;
        }
      }

      > ul.is-simplemenu {
        right: auto;
        left: 0;
        @include media-breakpoint-up(lg) {
          left: 26px;
        }
        @include media-breakpoint-only(md){
          left: 10px;
        }

        top: 43px;
        padding-top: 25px;
        padding-bottom: 30px;
        li {
          a {
            display: inline-block;
            text-transform: uppercase;
            color: $gray;
          }
        }
      }

      @include media-breakpoint-up(md) {
        ul.is-simplemenu ul {
          margin-right: -1px;
          padding-top: 25px;
          padding-bottom: 30px;
          top: -28px;
        }
      }

      @include media-breakpoint-down(sm) {
        width: 100%;
        float: none;
        position: relative;
        > a {
          border-right: none;
        }
      }
    }
  }

  ul.menu {
    background: $color-light;
    @include media-breakpoint-only(xs) {
      display: none;
    }
  }

  li {
    display: inline-block;
    a {
      position: relative;
      display: inline-block;
    }

    &.simple, li {
      position: relative;
    }
    li {
      display: block;
      a {
        display: block;
        padding: 3px 10px;
      }
      &.sfHover > a, &:hover > a, &.sfHoverForce > a {
        color: $brand-primary;
      }
    }
  }

  .menu_badge {
    position: absolute;
    top: -14px;
    right: -10px;
    z-index: 2;
    font-size: 10px;
    display: inline-block;
    background: $brand-primary;
    color: #fff;
    padding: 2px 5px 1px 5px;
    line-height: 12px;
    border-radius: 3px;
    margin-left: 10px;
    @include media-breakpoint-only(xs) {
      right: auto;
      left: 5px;
    }
  }

  ul {
    li {
      &:hover {
        > ul, > div {
        }
      }
    }
  }

  .is-megamenu {
    width: 100%;
    border-top: 3px solid $brand-primary;
    border-bottom: 3px solid $brand-primary;
    padding: 0 15px;
    @include media-breakpoint-up(lg) {
      padding: 25px 30px 30px;
    }

    @include media-breakpoint-between(sm, md) {
      padding-bottom: 40px;
    }

    a {
      color: $gray;
      &:hover {
        color: $brand-primary;
      }
    }

    background: #fff;
    display: none;
    box-shadow: 0 5px 13px rgba(0, 0, 0, 0.2);
    @include media-breakpoint-up(md) {
      position: absolute;
      top: 43px;
      left: 0;
      z-index: 999;
    }
    .megamenu-row {
      animation: fadeInUp .3s;
      @include media-breakpoint-up(md) {
        + .megamenu-row {
          border-top: 1px solid #ccc;
        }

        .megamenu-col.col-sm-3 + .megamenu-col.col-sm-3 {
          border-left: 1px solid $gray-lightest;
          + .megamenu-col.col-sm-3:last-child {
            border: none;
          }
        }
      }
    }

    .megamenu-row-2 {
      background: #f8f8f8;
    }

    li li {
      padding-left: 10px;
    }

    ul.content {
      padding-left: 10px;
      &:last-child {
        padding-left: 0;
      }
      > li {
        > a {
          display: inline-block;
          @include media-breakpoint-down(xs) {
            font-size: 20px;
            line-height: 30px;
            font-weight: 500;
            color: $gray-darker;
            text-transform: none;
          }

          &.sf-with-ul {
            font: bold 20px/1.2 $font-custom;
            text-transform: none;
            color: $gray-darker;
            + ul {
              padding-top: 10px;
            }
            &:hover {
              color: $brand-primary;
            }
          }
        }

        ul li a {
          text-transform: uppercase;
          padding-left: 0;
          display: inline-block;
          &:hover {
            color: $brand-primary;
          }
        }

        &.custom_title.html {
          margin-bottom: 25px;
          h3 {
            display: none;
          }
          h2 {
            font-style: italic;
            font-size: 16px;
            font-family: $font-family-base;
            color: $gray;
            font-weight: normal;
            margin-top: 20px;
            > span {
              color: $brand-primary;
              font: bold 30px/1.2 $font-custom;
            }
          }
        }
        &.megamenu_banner {
          @include media-breakpoint-up(xl) {
            top: -70px;
          }
          img {
            max-width: 100%;
            height: auto;
          }

          @include media-breakpoint-up(xl) {
            a {
              display: block;
              overflow: hidden;
              padding: 0;
              img {
                @include transition(.4s);
              }
              &:hover {
                img {
                  transform: scale(1.03);
                  opacity: .7;
                }
              }
            }
          }
        }

        &.product-info {
          padding-left: 10px;
          img {
            height: auto;
            max-width: 100%;
          }
          .product-image {
            a {
              padding: 0;
            }
            margin-bottom: 20px;
          }
          .price {
            font: 600 20px/24px $font-family-base;
          }
          .product-description, .regular-price, .discount-percentage {
            display: none;
          }
          .product-name {
            font-size: 16px;
            line-height: 18px;
            font-weight: normal;
            a {
              color: $gray-darker;
              padding: 0;
              &:hover {
                color: $gray;
              }
            }
          }
        }
      }

      ul {
        opacity: 1 !important;
        display: block !important;
      }
    }
  }
  .menu-title {
    position: relative;
    background: $color-light;
    border-top: 3px solid $brand-primary;
    border-bottom: 3px solid $brand-primary;
    padding: 10px 15px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    color: $gray-darker;
    text-transform: uppercase;
    cursor: pointer;
    &:hover {
      background: $gray;
    }
    &:after {
      content: "\E5CF";
      font-family: 'Material Icons';
      position: absolute;
      height: 22px;
      width: 22px;
      font-size: 22px;
      line-height: 22px;
      top: 10px;
      right: 6px;
      cursor: pointer;
      z-index: 1;
    }
    &.active {
      &:after {
        content: "\E5CE";
      }
    }
    @include media-breakpoint-up(md) {
      display: none;
    }
  }

  .menu-mobile-grover:before {
    position: absolute;
    height: 30px;
    width: 30px;
    font-size: 20px;
    top: 10px;
    right: 6px;
    cursor: pointer;
    z-index: 1;
    @include media-breakpoint-up(md) {
      display: none;
    }
  }
  .menu-mobile-grover.active:before {
    content: '\e01c';
  }

  @include media-breakpoint-down(xs) {
    text-align: left;

    .is-simplemenu {
      li {
        border-top: 1px solid #ccc;
        .menu-mobile-grover {
          &:before {
            top: 8px;
            right: 0;
            font-size: 18px;
          }
        }
        a {
          display: block;
          font-size: 14px;
          padding: 8px 10px;
        }
        li {
          a {
            padding-left: 20px;
          }
          li {
            a {
              padding-left: 30px;
            }
            li {
              a {
                padding-left: 40px;
              }
            }
          }
        }
      }
    }
    li.simple ul {
      display: none;
    }

    .megamenu-col.col-sm-3 {
      float: left;
      width: 50%;
      margin-top: 30px;
    }
  }
}

.red {
  background: #f00;
}

.menuvideowrapper {
  clear: both;
  float: none;
  height: 0;
  padding-bottom: 56.25%;
  padding-top: 25px;
  position: relative;
  width: 100%; }

.menuvideowrapper iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%; }

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  max-width: 100%;
  height: auto; }

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.frontend-map {
  min-height: 200px; }

/**** Left/Right column menu ****/
.left_column_menu .block_content, .right_column_menu .block_content {
  li {
    position: relative;
  }
  li.simple ul {
    display: none;
    @include media-breakpoint-up(md) {
      position: absolute;
      top: -1px;
      width: 200px;
      border: 1px solid #ccc;
      background: #fff;
      z-index: 999;
    }
    @include media-breakpoint-down(xs) {
      li {
        border-top: 1px solid #ccc;
        position: relative;
        a {
          display: block;
          padding: 10px 0 10px 15px;
          position: relative;
        }
        li {
          a {
            padding-left: 25px;
          }
        }
      }
    }
  }
  > ul > li {
    border-top: 1px solid #ccc;
    position: relative;
    > a {
      display: block;
      padding: 10px 0;
      position: relative;
    }
    &:first-child {
      border: none;
    }
  }
  span.menu_badge {
    font-size: 10px;
    display: inline-block;
    background: #f00;
    color: #fff;
    padding: 1px 5px 2px 5px;
    line-height: 12px;
    border-radius: 3px;
    margin-left: 10px;
  }
  li.simple li a {
    padding: 4px 5px;
    display: block;
  }
  div.is-megamenu {
    display: none;
    ul {
      display: block !important;
      opacity: 1 !important;
      &.content {
        > li {
          > a {
            font-weight: bold;
            text-transform: uppercase;
          }
          li {
            padding-left: 5px;
          }
        }
      }
    }
    @include media-breakpoint-up(md) {
      position: absolute;
      top: 0;
      width: 600px;
      padding: 15px;
      background: #fff;
      border: 1px solid #ccc;
      z-index: 999;
    }
    @include media-breakpoint-only(xs) {
      .megamenu-col.col-sm-3 {
        width: 50%;
        float: left;
        &.first-in-line-sm {
          clear: left;
        }
      }
    }
  }
  .menu-mobile-grover {
    &:after {
      position: absolute;
      right: 0;
      top: 12px;
      height: 15px;
      width: 15px;
      line-height: 15px;
      font-size: 15px;
      content: '\e001';
      font-family: 'FontAwesome';
      z-index: 1;
      cursor: pointer;
    }
    &.active {
      &:after {
        content: '\e01c';
      }
    }
  }
}

.left_column_menu li.simple ul {
  right: -200px;
}

.right_column_menu li.simple ul {
  left: -200px;
}

.left_column_menu div.is-megamenu {
  right: -600px;
}

.right_column_menu div.is-megamenu {
  left: -600px;
}