.mosaic-block {
  margin-bottom: 50px;
  .title_block {
    &:after {
      @media (max-width: 767px) {
        display: none;
      }
    }
  }
  .block-container-row {
    border-bottom: 1px solid #f5f5f5;
    padding-bottom: 50px;
    margin-bottom: 30px;
    .tmmp-frontend-banner,
    .wrapper-slider,
    .tmmp-frontend-html,
    .tmmp-frontend-video {
      h3 {
        font: 700 24px/27px "Open Sans", sans-serif;
        color: #333;
        margin: 0 0 25px;
      }
    }
    .wrapper-slider {
      > h3 {
        font-size: 30px;
        text-align: center;
      }
    }
  }
}

/* tmmp_row_2 */
.tmmp_row_2 > li:first-child > div {
  @media (max-width: 767px) {
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
}

/* tmmp_row_3 */
.tmmp_row_3 li:nth-child(-n+2) > div {
  @media (max-width: 767px) {
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
}

/* tmmp_row_4 */
.tmmp_row_4 li:nth-child(-n+3) > div {
  @media (max-width: 767px) {
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
}

.tmmp_row_4 li:nth-child(3) {
  @media (min-width: 768px) and (max-width: 991px) {
    clear: left;
  }
}

.tmmp_row_4 li:nth-child(-n+2) > div {
  @media (min-width: 768px) and (max-width: 991px) {
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
}

/* tmmp_row_6 */
.tmmp_row_6 li:nth-child(4) {
  @media (min-width: 992px) and (max-width: 1199px) {
    clear: left;
  }
}

.tmmp_row_6 li:nth-child(-n+4) > div {
  @media (min-width: 768px) and (max-width: 991px) {
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
}

.tmmp_row_6 li:nth-child(-n+5) > div {
  @media (max-width: 767px) {
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
}

/* tmmp_row_1_4 */
.tmmp_row_1_4 > li:last-child > ul > li:nth-child(3) {
  clear: left;
}

.tmmp_row_1_4 > li > ul > li:nth-child(n+3):nth-child(-n+4) > div {
  margin-top: 30px;
  padding-top: 50px;
}

.tmmp_row_1_4 > li > ul > li > div {
  @media (max-width: 767px) {
    margin-top: 20px;
    padding-top: 20px;
  }
}

.tmmp_row_1_4 > li:first-child > div {
  @media (min-width: 768px) and (max-width: 992px) {
    margin-bottom: 30px;
    padding-bottom: 30px;
  }
}

/* tmmp_row_4_1 */
.tmmp_row_4_1 ul > li:nth-child(3) {
  clear: left;
}

.tmmp_row_4_1 li ul li:nth-child(n+3):nth-child(-n+4) > div {
  margin-top: 20px;
  padding-top: 20px;
}

.tmmp_row_4_1 > li:last-child > div {
  @media (min-width: 768px) and (max-width: 992px) {
    margin-top: 30px;
    padding-top: 30px;
  }
}

/* tmmp_row_2_1_2 */
.tmmp_row_2_1_2 li:first-child ul li:first-child > div,
.tmmp_row_2_1_2 li:nth-child(3) ul li:first-child > div {
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.tmmp_row_2_1_2 li ul li > div,
.tmmp_row_2_1_2 > li:nth-child(2) > div {
  @media (max-width: 767px) {
    margin-bottom: 30px;
    padding-bottom: 30px;
  }
}

/**************************************************************************
		        Style for banner and html content
**************************************************************************/

.tmmp-banner-description,
.tmmp-frontend-html {
  img {
    max-width: 100%;
    height: auto;
  }
}

/**************************************************************************
		        Style for Video
**************************************************************************/

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  iframe,
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.tmmp-frontend-video .vjs-default-skin .vjs-big-play-button {
  height: 1.6em;
  width: 3em;
  font-size: 1.5em;
  border-radius: 0.5em;
  &:before {
    line-height: 1.5em;
  }
}

/**************************************************************************
		        Style for Slider
**************************************************************************/

.mosaic-block {
  .bx-wrapper {
    li img {
      max-width: 100%;
      height: auto;
    }
    .bx-controls-direction a {
      top: -40px;
      height: 40px;
      width: 40px;
      text-align: center;
      @media (max-width: 767px) {
        display: none;
      }
      &:before {
        color: #333;
        font-size: 40px;
      }
      &:hover {
        &:before {
          color: #777;
        }
      }
      &.bx-next {
        right: -12px;
        &:before {
          content: "\f105";
        }
      }
      &.bx-prev {
        left: inherit;
        right: 20px;
        &:before {
          content: "\f104";
        }
      }
    }
    .bx-pager {
      bottom: -45px;
      a {
        background: #f5f5f5;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        &.active,
        &:hover {
          background: #333;
        }
      }
    }
  }
}

/**************************************************************************
		        Style for Product
**************************************************************************/

.block-container-row {
  .product-container {
    position: relative;
    .product-image-container {
      border: 1px solid #d6d4d4;
      margin-bottom: 13px;
      padding: 9px;
      position: relative;
      .mosaic-sale-label {
        right: 0;
        background: #ef5350;
      }
    }
    .product-name {
      font: 400 16px/21px "Open Sans", sans-serif;
      color: #333;
      &:hover {
        color: #777;
      }
    }
    .content_price {
      margin-bottom: 20px;
      .price {
        font: 700 16px/21px "Open Sans", sans-serif;
        color: #333;
      }
      .old-price {
        color: #b2b2b2;
        font: 700 16px/21px "Open Sans", sans-serif;
      }
    }
  }
}

.color-dark {
  color: $gray-darker;
}

.color-light {
  color: $color-light !important;
}

.displayhome.block.mosaic-block {
  h4.title_block {
    display: none;
  }

  span.btn {
    &:after {
      display: none;
    }

    &:hover {
      color: $brand-primary;
      background: inherit;
    }
  }

  .block-container-row {
    border-bottom: none;
    margin: 0;
    padding: 0;
  }

  ul.row {
    padding: 0;
    margin: 0;
    li {
      padding: 0;
      position: relative;
      img {
        width: 100%;
      }
      ul li ul li {
        @include media-breakpoint-down(sm) {
          width: 50%;
        }
      }
    }
  }
  .tmmp-frontend-banner {

    > a {
      position: relative;
      display: block;
      overflow: hidden;
      &:before, &:after {
        content: '';
        position: absolute;
        opacity: 0;
        pointer-events: none;
        z-index: 3;
        box-shadow: none;
        transition: all .5s ease;
      }
      &:before {
        top: 0;
        left: 0;
        right: 100%;
        bottom: 100%;
        border-top: 10px solid $brand-primary;
        border-left: 10px solid $brand-primary;
        background: rgba($gray, .3);
      }
      &:after {
        left: 100%;
        top: 100%;
        bottom: 0;
        right: 0;
        border-bottom: 10px solid $brand-primary;
        border-right: 10px solid $brand-primary;
        background: rgba($color-light, .2);
      }

      @include media-breakpoint-up(sm) {
        &:hover {
          &:before {
            opacity: 1;
            bottom: 0;
            right: 0;
          }
          &:after {
            opacity: 1;
            left: 0;
            top: 0;
          }
        }
      }
    }

    > h3 {
      display: none;
    }

    h3 {
      margin-bottom: 15px;
    }

    &.align_item {
      .tmmp-banner-description {
        left: 4%;
        bottom: 5%;
        @include media-breakpoint-up(sm) {
          top: 3%;
          bottom: auto;
        }
        @media (min-width: 1300px) {
          left: 6%;
          top: 5%;
        }
        @include media-breakpoint-up(lg) {
          top: 45%;
          transform: translateY(-50%);
        }
      }
      h2 {
        font-style: italic;
        font-size: 30px;
        font-family: $font-custom;
        margin-top: 0;
        font-weight: normal;
        color: $gray;
        @include media-breakpoint-down(md) {
          font-size: 20px;
        }
        @include media-breakpoint-down(sm) {
          display: none;
        }
      }

      .box_content {
        h3 {
          text-transform: uppercase;
        }

        @include media-breakpoint-up(lg) {
          h3 {
            padding-right: 30px;
            margin-bottom: 30px;
          }

        }
        a + p, p + p {
          margin-top: 42px;
        }
        p + p {
          font-style: italic;
          color: $gray;
        }

        @media (max-width: 1700px) {
          a + p, p + p {
            margin-top: 15px;
          }

          span.btn {
            padding: 5px 10px;
            font-size: 10px;
          }
        }
        @include media-breakpoint-down(sm) {
          span.btn {
            display: none;
          }
        }
      }
    }

    .tmmp-banner-description {
      position: absolute;
      bottom: 5%;
      left: 5%;

      @media (min-width: 1300px) {
        bottom: 10%;
        left: 12%;
      }

      .link_btn {
        color: $brand-primary;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
        text-decoration: underline;
        transition: .3s;
        letter-spacing: 2px;
        &:hover, &:active {
          text-decoration: underline;
        }

        @include media-breakpoint-down(md) {
          font-size: 10px;
          letter-spacing: 0;
        }
      }
      h3 {
        font: bold 40px/1.2 $font-custom;
        text-transform: capitalize;
        letter-spacing: 1.2px;
        @include media-breakpoint-down(md) {
          font-size: 30px;
          letter-spacing: 1.2px;
          margin-bottom: 10px;
          + p {
            margin-bottom: 0;
          }
        }
      }
      @media (max-width: 1700px) {
        h3 {
          font-size: 20px;
        }
      }
    }
  }
}
