#tm-products-slider {
  clear: both;
  margin: 0 -15px 50px;
  @media (min-width: 1200px) {
    margin: 0 -30px 82px;
  }
  @media (min-width: 1700px) {
    margin: 0 -84px 82px;
  }
  .swiper-wrapper {
    .swiper-slide {
      background: #000000;
      .slide-inner {
        padding: 15px;
        @include media-breakpoint-up(sm) {
          display: flex;
          align-items: center;
          overflow: hidden;
          padding: 30px;
        }
        @include media-breakpoint-up(md) {
          padding: 50px;
        }
        .slide-image {
          @include media-breakpoint-up(sm) {
            width: 53%;
            margin-right: 5%;
            float: left;
            + .slide-info {
              float: left;
              width: 42%;
            }
          }
          .swiper-container {
            max-width: 675px;
            margin: 0 auto;
            .swiper-slide {
              background: url("../img/shadow.png") no-repeat center bottom #000000;
              background-size: contain;
            }
            @include media-breakpoint-only (xs) {
              max-width: 300px;
              margin-bottom: 30px;
            }
          }
        }
        .slide-info {
          @include media-breakpoint-only (xs) {
            text-align: center;
          }
          .online_only, #product_condition, #product_reference {
            display: inline-block;
            font-size: 14px;
            line-height: 20px;
            margin-right: 20px;
          }
          .online_only {
            color: red;
            font-weight: 700;
          }
          h2 {
            font-family: $font-custom;
            font-size: 70px;
            line-height: 76px;
            margin: 15px 0 6px;
            text-transform: uppercase;
            font-weight: 900;
            a {
              color: $color-light;
              &:hover {
                color: $brand-primary;
              }
            }
          }
          h3 {
            font-size: 40px;
            line-height: 50px;
            font-weight: 900;
            margin: 0;
            color: $color-light;
          }
          h4 {
            font-size: 24px;
            line-height: 30px;
            font-weight: 300;
            color: $gray-lightest;
            margin-bottom: 18px;
          }
          .slide-manufacturer, .slide-supplier {
            font-size: 14px;
            line-height: 30px;
            color: #d1d1d1;
            span {
              color: #ffffff;
              min-width: 71px;
              display: inline-block;
            }
          }
          .product-features {
            font-size: 14px;
            line-height: 30px;
            color: #d1d1d1;
            margin-top: 20px;
            span {
              color: #ffffff;
              min-width: 100px;
              display: inline-block;
            }
          }
          .product-price-box {
            margin-bottom: 24px;
            .product-price {
              font-family: $font-custom;
              font-weight: 400;
              font-size: 60px;
              line-height: 63px;
              margin-right: 15px;
              color: $brand-primary;
              font-style: italic;
              &.product-price-reduction {
                display: none;
              }
              &.product-price-old {
                color: $gray-lightest;
                text-decoration: line-through;
                font-size: 40px;
              }
            }
          }
          #product-quantity {
            display: inline-block;
            font-size: 15px;
            line-height: 20px;
            color: green;
          }
          @include media-breakpoint-down(lg) {
            h2 {
              font-size: 50px;
              line-height: 56px;
            }
            h3 {
              font-size: 30px;
              line-height: 40px;
            }
            h4 {
              font-size: 20px;
              line-height: 26px;
              margin-bottom: 15px;
            }
            .product-price-box {
              margin-bottom: 18px;
              .product-price {
                font-size: 40px;
                line-height: 43px;
                margin-right: 10px;
                &.product-price-old {
                  font-size: 20px;
                }
              }
            }
          }
          @include media-breakpoint-down(sm) {
            h2 {
              font-size: 27px;
              line-height: 33px;
              font-weight: 600;
            }
            h3 {
              font-size: 18px;
              line-height: 24px;
            }
            h4 {
              font-size: 15px;
              line-height: 21px;
              margin-bottom: 10px;
            }
            .product-price-box {
              margin-bottom: 10px;
              .product-price {
                font-size: 20px;
                line-height: 23px;
                margin-right: 7px;
                &.product-price-old {
                  font-size: 16px;
                }
              }
            }
          }
        }
      }
    }
  }
}