/**************************************************************************
		        Style TM Google Map
**************************************************************************/
.tmgooglemap div[data-type="map-container"] {
  width: 100%;
  height: 400px;
  margin-top: 10px;
}
.tmgooglemap div[data-type="map-container"] .marker_content {
  width: 300px;
  font-family: "Open Sans", sans-serif;
  padding: 5px 20px 0 0;
}
@media only screen and (max-width: 479px) {
  .tmgooglemap div[data-type="map-container"] .marker_content {
    width: 215px;
  }
}
.tmgooglemap div[data-type="map-container"] .marker_content .tmaddress-content {
  margin-bottom: 15px;
}
.tmgooglemap div[data-type="map-container"] .marker_content .marker_logo {
  float: left;
  margin-right: 5%;
  width: 45%;
  height: auto;
}
@media only screen and (max-width: 479px) {
  .tmgooglemap div[data-type="map-container"] .marker_content .marker_logo {
    width: 90%;
    margin-right: 0;
  }
}
.tmgooglemap div[data-type="map-container"] .marker_content .tmgooglemap-hours > p {
  float: left;
  font-size: 13px;
  width: 50%;
  margin: 0 0 3px 0;
  color: #a7a7a7;
}
@media only screen and (max-width: 479px) {
  .tmgooglemap div[data-type="map-container"] .marker_content .tmgooglemap-hours > p {
    width: 100%;
    float: none;
  }
}
.tmgooglemap div[data-type="map-container"] .marker_content .tmgooglemap-hours > p b {
  color: #333;
  display: inline-block;
  min-width: 40px;
  font-weight: normal;
}
.tmgooglemap div[data-type="map-container"] .marker_content .tmgooglemap-hours > p span {
  display: inline-block;
  color: #000;
}
.tmgooglemap div[data-type="map-container"] .marker_content .tmgooglemap-content .tmgooglemap-days {
  width: 45%;
  float: left;
  margin-top: -1px;
}
.tmgooglemap div[data-type="map-container"] .marker_content .tmgooglemap-content .tmgooglemap-days p {
  color: #a7a7a7;
  margin-bottom: 2px;
}
.tmgooglemap div[data-type="map-container"] .marker_content .tmgooglemap-content .tmgooglemap-days p b {
  font-weight: normal;
  color: #333;
}
.tmgooglemap div[data-type="map-container"] .marker_content .tmgooglemap-content .tmgooglemap-phone {
  width: 50%;
  margin-right: 5%;
  float: left;
}
.tmgooglemap div[data-type="map-container"] .marker_content .tmgooglemap-content .tmgooglemap-phone p {
  font-size: 16px;
  font-weight: 600;
  color: #333;
  margin-bottom: 12px;
}
.tmgooglemap div[data-type="map-container"] .marker_content .tmgooglemap-content .tmgooglemap-phone p:last-child {
  margin-bottom: 0;
}
.tmgooglemap div[data-type="map-container"] .marker_content .tmgooglemap-content .tmgooglemap-phone p:before {
  font-family: 'FontAwesome';
  content: '\f095';
  display: inline-block;
  font-size: 20px;
  color: #a7a7a7;
  margin-right: 7px;
  vertical-align: -2px;
}
.tmgooglemap div[data-type="map-container"] .marker_content .description {
  width: 50%;
  float: left;
}
@media only screen and (max-width: 479px) {
  .tmgooglemap div[data-type="map-container"] .marker_content .description {
    width: 90%;
    float: none;
  }
}
.tmgooglemap div[data-type="map-container"] .marker_content .description h5 {
  display: block;
  font-size: 14px;
  font-weight: normal;
  color: #333;
  margin: 10px 0 5px 0;
}
.tmgooglemap div[data-type="map-container"] .marker_content .description p {
  font-size: 14px;
  color: #000;
  line-height: 24px;
}
.tmgooglemap div[data-type="map-container"] .marker_content img {
  max-width: 100%;
  height: auto;
}
.tmgooglemap div[data-type="map-container"] .marker_content > p {
  font-size: 11px;
  margin-bottom: 5px;
  width: 50%;
  float: left;
  padding-right: 10px;
}
.tmgooglemap div[data-type="map-container"] .marker_content .tmlink-directions {
  float: right;
  font-size: 14px;
  font-weight: normal;
  color: #333;
  margin: -5px 0 7px;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
@media only screen and (max-width: 479px) {
  .tmgooglemap div[data-type="map-container"] .marker_content .tmlink-directions {
    margin: 7px 25px 7px 0;
  }
}
.tmgooglemap div[data-type="map-container"] .marker_content .tmlink-directions:before {
  font-family: 'FontAwesome';
  content: '\f041';
  display: inline-block;
  color: #06aaf5;
  font-size: 18px;
  margin-right: 7px;
  vertical-align: -1px;
}
.tmgooglemap div[data-type="map-container"] .marker_content .tmlink-directions:hover {
  color: #06aaf5;
}
.tmgooglemap div[data-type="map-container"] .gm-style-iw div {
  overflow-x: hidden !important;
}
