@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,900');

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	height: 100%;
}

header {

}

main {
	flex: 1;
}

footer {

}

img {
	max-width: 100%;
}

.hero {
	background: url(../img/hero-bg-min.jpg) no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;
}

.hero-inner {
	position: relative;
	background: rgba(0, 0, 0, .5);
	height: 100%;
}

.hero-top {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	padding: 0 30px;
}

.hero__logo {
	padding: 15px 0;
	font: normal 30px/1.2 'Pacifico', cursive;
	color: #fff;
	text-shadow: 3px 2px 8px #000;
}

.hero__logo span {
	color: #f00;
}

.hero__links-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.hero__item {
	display: inline-block;
	margin-left: 30px;
	vertical-align: middle;
}

.hero__link {
	font: 400 20px/1.2 'Open Sans', sans-serif;
	color: #fff;
	letter-spacing: 0.01em;
	text-decoration: none;
	text-shadow: 3px 2px 8px #000;
	transition: .3s linear;
}

.hero__link:hover {
	color: #f00;
}

.hero__title {
	position: absolute;
	top: 50%;
	top: 40%;
	left: 50%;
	left: 30px;
	max-width: 700px;
	margin: 0;
	font: 400 40px/1.5 'Open Sans', sans-serif;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	color: #fff;
	letter-spacing: 0.05em;
	/*text-align: center;*/
	text-shadow: 1px 5px 8px #000;
	text-transform: uppercase;
	/*transform: translate(-50%, -50%);*/
}

.courses {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-between;
	background: #D3CCE3;
	background: radial-gradient(rgb(255, 255, 255), rgb(211, 211, 211));
}

.courses__inner {
	flex-basis: auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	width: calc(100% - 150px);
}

.courses__heading {
	margin: 0;
	padding: 20px 0;
	font: 600 32px/1.2 'Open Sans', sans-serif;
	color: #222;
	letter-spacing: 0.05em;
	text-align: center;
	text-transform: capitalize;
	box-shadow: 0 1px 5px #ddd;
}

.courses__list {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-between;
	flex: 1 0 auto;
	margin: 50px 0 0;
	padding: 0 30px;
	list-style-type: none;
}

.courses__item {
	flex-basis: auto;
	width: calc(100% / 3);
	padding: 20px;
}

.courses__item:hover {
	transition: 1s ease;
    -webkit-box-shadow: 2px 4px 126px -17px rgba(0,0,0,0.62);
    -moz-box-shadow: 2px 4px 126px -17px rgba(0,0,0,0.62);
    box-shadow: 2px 4px 126px -17px rgba(0,0,0,0.62);
    -ms-transform: scale(1.0,1);
    -webkit-transform: scale(1.0,1);
    transform: scale(1.0,1);
}

.course-1 {
	background: url(../img/course-1-min.jpg) no-repeat center;
}

.course-2 {
	background: url(../img/course-2-min.jpg) no-repeat center;
}

.course-3 {
	background: url(../img/course-3-min.jpg) no-repeat center;
}

.courses__img-wrap {
	height: 200px;
	background-size: cover;
}

.courses__title {
	margin: 0;
	padding: 20px 0 10px;
	font: 700 20px/1.2 'Open Sans', sans-serif;
	color: #333;
	text-align: center;
	text-transform: uppercase;
}

.courses__price {
	margin: 0;
	padding: 10px 0 20px;
	font: 600 18px/1.2 'Open Sans', sans-serif;
	color: #333;
	letter-spacing: 0.02em;
	text-align: center;
	text-transform: uppercase;
}

.courses__link {
	display: block;
	width: 200px;
	margin: 0 auto;
	padding: 10px 15px;
	color: #fff;
	font: 600 16px/1.2 'Open Sans', sans-serif;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	background: #F00;
	background: linear-gradient(to bottom, #DC281E, #F00000);
	transition: .3s linear;
}

.courses__link:hover {
	background: linear-gradient(to bottom, #f00, #ff4132);
}

.course-desc {
	margin: 20px 0 0;
	padding: 20px 10px;
	font: 600 16px/1.5 'Open Sans', sans-serif;
	text-align: center;
	text-transform: uppercase;
	border-top: 4px double #ddd;
	border-bottom: 4px double #ccc;
	list-style-type: none;
	opacity: 0;
	transition: .3s linear;
}

.courses__item:hover .course-desc {
	opacity: 1;
}

.course-desc li {
	display: block;
	margin: 0;
	padding: 5px 0;
}

.courses__aside {
	flex-basis: auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: space-around;
	-ms-align-items: center;
	align-items: center;
	width: 150px;
	background: #F00;
	background: linear-gradient(to bottom, #DC281E, #F00000);
}

.courses__aside-item {
	text-align: center;
}

.courses__aside-title {
	margin: 0;
	padding: 10px;
	font: 300 16px/1.4 'Open Sans', sans-serif;
	color: #fff;
}

.our-photo {
	padding-top: 30px;
}

.barista-school-bottom {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: nowrap;
	-moz-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	-o-flex-wrap: nowrap;
	flex-wrap: nowrap;
	justify-content: space-between;
	-ms-align-items: stretch;
	align-items: stretch;
}

.barista-school-bottom-left,
.barista-school-bottom-right {
	flex-basis: auto;
	width: 50%;
}

.school-info {
	padding: 20px 0;
}

.school-info__list {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-between;
}

.school-info__list:after {
	content: "";
	display: block;
	width: 180px;
	height: 2px;
	margin: 40px auto 0;
	background: #d92229;
}

.school-info__item {
	flex-basis: auto;
	width: calc(100% / 3);
	text-align: center;
}

.numscroller-wrap {
	margin: 0;
	color: #d92229;
	font-size: 40px;
	font-family: 'Pacifico', cursive;
}

.school-info__subheading {
	margin: 0;
	padding-top: 10px;
	font: 600 16px/1.3 'Open Sans', sans-serif;
	color: #444;
	text-transform: uppercase;
}

.barista-school-text {
	padding: 20px 30px;
	font: normal 18px/1.3 'Open Sans', sans-serif;
	color: #222;
}

.reviews {
	padding-top: 30px;
}

.reviews__review {
	position: relative;
	width: 85%;
	margin-left: auto;
	padding: 60px 20px 60px 50px;
	font: italic 16px/1.5 'Open Sans', sans-serif;
	color: #fff;
	background: #d92229;
}

.reviews__review-name {
	margin: 0;
	padding: 20px 0 0;
	font-style: normal;
	color: #f8fa5f;
}

.reviews__review:after {
    content: "\f10d";
    position: absolute;
    top: -42px;
    height: 84px;
    width: 84px;
    left: 100px;
    z-index: 3;
    padding-right: 6px;
    color: rgb(255, 255, 255);
    font-family: FontAwesome;
    font-size: 26px;
    line-height: 84px;
    text-align: center;
    background: rgb(225, 117, 69);
    border-radius: 50%;
    box-shadow: rgba(24, 23, 24, 0.15) 0px 12px 15px 0px;
}

.reviews__reviwer-photo img {
	display: block;
}