{if isset($message)}{$message}{/if}
<div class="panel">
  <h3><i class="icon-cogs"></i> {l s='New filters template' d='Modules.Facetedsearch.Admin'}</h3>
  <form action="{$current_url}" method="post" class="form-horizontal" onsubmit="return checkForm();">
    <input type="hidden" name="id_layered_filter" id="id_layered_filter" value="{$id_layered_filter}" />
    <div class="form-group">
      <label class="control-label col-lg-3">{l s='Template name:' d='Modules.Facetedsearch.Admin'}</label>
      <div class="col-lg-9">
        <input type="text" id="layered_tpl_name" name="layered_tpl_name" maxlength="64" value="{$template_name}" />
        <p class="help-block">{l s='Only as a reminder' d='Modules.Facetedsearch.Admin'}</p>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-lg-3">{l s='Categories used for this template:' d='Modules.Facetedsearch.Admin'}</label>
      <div class="col-lg-9">
        {if trim($categories_tree) != ''}
          {$categories_tree}
        {else}
          <div class="alert alert-warning">
            {l s='Categories selection is disabled because you have no categories or you are in a "all shops" context.' d='Modules.Facetedsearch.Admin'}
          </div>
        {/if}
      </div>
    </div>
    {if isset($asso_shops)}
    <div class="form-group">
      <label class="control-label col-lg-3">{l s='Choose shop association:' d='Modules.Facetedsearch.Admin'}</label>
      <div class="col-lg-9">{$asso_shops}</div>
    </div>
    {/if}
    <div class="form-group">
      <label class="control-label col-lg-1">
        <span class="badge" id="selected_filters">0</span>
        <span class="label-tooltip" data-toggle="tooltip" title="" data-original-title="{l s='You can drag and drop filters to adjust position' d='Modules.Facetedsearch.Admin'}">{l s='Filters:' d='Modules.Facetedsearch.Admin'}</span>
      </label>
      <div class="col-lg-11">
        <section class="filter_panel">
          <header class="clearfix">
            <span class="badge pull-right">
              {l
                s='Total filters: %s'
                sprintf=[$total_filters]
                d='Modules.Facetedsearch.Admin'
              }
            </span>
          </header>
          <section class="filter_list">
            <ul class="list-unstyled sortable">
              <li class="filter_list_item row" draggable="true">
                <div class="col-lg-1">
                  <label class="switch-light prestashop-switch fixed-width-lg">
                    <input name="layered_selection_subcategories" id="layered_selection_subcategories" type="checkbox" />
                    <span>
                      <span>{l s='Yes' d='Admin.Global'}</span>
                      <span>{l s='No' d='Admin.Global'}</span>
                    </span>
                    <a class="slide-button btn"></a>
                  </label>
                </div>
                <div class="col-lg-2">
                  <h4>{l s='Sub-categories filter' d='Modules.Facetedsearch.Admin'}</h4>
                </div>
                <div class="col-lg-3">
                  <label class="control-label col-lg-6">{l s='Link rewrite:' d='Modules.Facetedsearch.Admin'}</label>
                  <div class="col-lg-6">
                    <input type="text" name="layered_product_facets[{l s='Categories' d='Modules.Facetedsearch.Shop'}]" value="{$layered_product_facets_rewrite[{l s='Categories' d='Modules.Facetedsearch.Shop'}]}" >
                    <input type="hidden" value="{l s='Categories' d='Modules.Facetedsearch.Shop'}">
                  </div>
                </div>
                <div class="col-lg-3 pull-right">
                  <label class="control-label col-lg-6">{l s='Filter result limit:' d='Modules.Facetedsearch.Admin'}</label>
                  <div class="col-lg-6">
                    <select name="layered_selection_subcategories_filter_show_limit">
                      <option value="0">{l s='No limit' d='Modules.Facetedsearch.Admin'}</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="10">10</option>
                      <option value="20">20</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-3 pull-right">
                  <label class="control-label col-lg-6">{l s='Filter style:' d='Modules.Facetedsearch.Admin'}</label>
                  <div class="col-lg-6">
                    <select name="layered_selection_subcategories_filter_type">
                      <option value="0">{l s='Checkbox' d='Modules.Facetedsearch.Admin'}</option>
                      <option value="1">{l s='Radio button' d='Modules.Facetedsearch.Admin'}</option>
                      <option value="2">{l s='Drop-down list' d='Modules.Facetedsearch.Admin'}</option>
                    </select>
                  </div>
                </div>
              </li>
              <li class="filter_list_item row" draggable="true">
                <div class="col-lg-1">
                  <label class="switch-light prestashop-switch fixed-width-lg">
                    <input name="layered_selection_stock" id="layered_selection_stock" type="checkbox" />
                    <span>
                      <span>{l s='Yes' d='Admin.Global'}</span>
                      <span>{l s='No' d='Admin.Global'}</span>
                    </span>
                    <a class="slide-button btn"></a>
                  </label>
                </div>
                <div class="col-lg-2">
                  <a data-toggle="collapse" href="#collapse_facets_stock" role="button" aria-expanded="false" aria-controls="collapse_facets_stock"><span class="module_name">{l s='Product stock filter' d='Modules.Facetedsearch.Admin'}</span></a>
                </div>
                <div class="col-lg-3">
                  <label class="control-label col-lg-6">{l s='Link rewrite:' d='Modules.Facetedsearch.Admin'}</label>
                  <div class="col-lg-6">
                    <input type="text" name="layered_product_facets[{l s='Availability' d='Modules.Facetedsearch.Shop'}]" value="{$layered_product_facets_rewrite[{l s='Availability' d='Modules.Facetedsearch.Shop'}]}">
                    <input type="hidden" value="{l s='Availability' d='Modules.Facetedsearch.Shop'}">
                  </div>
                </div>
                <div class="col-lg-3 pull-right">
                  <label class="control-label col-lg-6">{l s='Filter result limit:' d='Modules.Facetedsearch.Admin'}</label>
                  <div class="col-lg-6">
                    <select name="layered_selection_stock_filter_show_limit">
                      <option value="0">{l s='No limit' d='Modules.Facetedsearch.Admin'}</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="10">10</option>
                      <option value="20">20</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-3 pull-right">
                  <label class="control-label col-lg-6">{l s='Filter style:' d='Modules.Facetedsearch.Admin'}</label>
                  <div class="col-lg-6">
                    <select name="layered_selection_stock_filter_type">
                      <option value="0">{l s='Checkbox' d='Modules.Facetedsearch.Admin'}</option>
                      <option value="1">{l s='Radio button' d='Modules.Facetedsearch.Admin'}</option>
                      <option value="2">{l s='Drop-down list' d='Modules.Facetedsearch.Admin'}</option>
                    </select>
                  </div>
                </div>
                <div class="collapse col-lg-12" id="collapse_facets_stock">
				    <div class="col-lg-3">
	                  	<label class="control-label col-lg-6">"{l s='Not available' d='Modules.Facetedsearch.Shop'}" {l s='Link rewrite:' d='Modules.Facetedsearch.Admin'}</label>
	                  	<div class="col-lg-6">
	                    	<input type="text" name="layered_product_filters[{{l s='Not available' d='Modules.Facetedsearch.Shop'}}]" value="{$layered_product_filters_rewrite[{l s='Not available' d='Modules.Facetedsearch.Shop'}]}">
	                    	<input type="hidden" value="{l s='Not available' d='Modules.Facetedsearch.Shop'}">
	                  	</div>
                	</div>
                	<div class="col-lg-3">
	                  	<label class="control-label col-lg-6">"{l s='In stock' d='Modules.Facetedsearch.Shop'}" {l s='Link rewrite:' d='Modules.Facetedsearch.Admin'}</label>
	                  	<div class="col-lg-6">
	                    	<input type="text" name="layered_product_filters[{{l s='In stock' d='Modules.Facetedsearch.Shop'}}]" value="{$layered_product_filters_rewrite[{l s='In stock' d='Modules.Facetedsearch.Shop'}]}" >
	                    	<input type="hidden" value="{l s='In stock' d='Modules.Facetedsearch.Shop'}">
	                  	</div>
                	</div>
				</div>
              </li>
              <li class="filter_list_item row" draggable="true">
                <div class="col-lg-1">
                  <label class="switch-light prestashop-switch fixed-width-lg">
                    <input name="layered_selection_condition" id="layered_selection_condition" type="checkbox" />
                    <span>
                      <span>{l s='Yes' d='Admin.Global'}</span>
                      <span>{l s='No' d='Admin.Global'}</span>
                    </span>
                    <a class="slide-button btn"></a>
                  </label>
                </div>
                <div class="col-lg-2">
                  <a data-toggle="collapse" href="#collapse_facets_condition" role="button" aria-expanded="false" aria-controls="collapse_facets_condition"><span class="module_name">{l s='Product condition filter' d='Modules.Facetedsearch.Admin'}</span></a>
                </div>
                <div class="col-lg-3">
                  <label class="control-label col-lg-6">{l s='Link rewrite:' d='Modules.Facetedsearch.Admin'}</label>
                  <div class="col-lg-6">
                    <input type="text" name="layered_product_facets[{l s='Condition' d='Modules.Facetedsearch.Shop'}]" value="{$layered_product_facets_rewrite[{l s='Condition' d='Modules.Facetedsearch.Shop'}]}">
                    <input type="hidden" value="{l s='Condition' d='Modules.Facetedsearch.Shop'}">
                  </div>
                </div>
                <div class="col-lg-3 pull-right">
                  <label class="control-label col-lg-6">{l s='Filter result limit:' d='Modules.Facetedsearch.Admin'}</label>
                  <div class="col-lg-6">
                    <select name="layered_selection_condition_filter_show_limit">
                      <option value="0">{l s='No limit' d='Modules.Facetedsearch.Admin'}</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="10">10</option>
                      <option value="20">20</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-3 pull-right">
                  <label class="control-label col-lg-6">{l s='Filter style:' d='Modules.Facetedsearch.Admin'}</label>
                  <div class="col-lg-6">
                    <select name="layered_selection_condition_filter_type">
                      <option value="0">{l s='Checkbox' d='Modules.Facetedsearch.Admin'}</option>
                      <option value="1">{l s='Radio button' d='Modules.Facetedsearch.Admin'}</option>
                      <option value="2">{l s='Drop-down list' d='Modules.Facetedsearch.Admin'}</option>
                    </select>
                  </div>
                </div>
                <div class="collapse col-lg-12" id="collapse_facets_condition">
				    <div class="col-lg-3">
	                  	<label class="control-label col-lg-6">"{l s='New' d='Modules.Facetedsearch.Shop'}" {l s='Link rewrite:' d='Modules.Facetedsearch.Admin'}</label>
	                  	<div class="col-lg-6">
	                    	<input type="text" name="layered_product_filters[{l s='New' d='Modules.Facetedsearch.Shop'}]" value="{$layered_product_filters_rewrite[{l s='New' d='Modules.Facetedsearch.Shop'}]}" >
	                    	<input type="hidden" value="{l s='New' d='Modules.Facetedsearch.Shop'}">
	                  	</div>
                	</div>
                	<div class="col-lg-3">
	                  	<label class="control-label col-lg-6">"{l s='Used' d='Modules.Facetedsearch.Shop'}" {l s='Link rewrite:' d='Modules.Facetedsearch.Admin'}</label>
	                  	<div class="col-lg-6">
	                    	<input type="text" name="layered_product_filters[{l s='Used' d='Modules.Facetedsearch.Shop'}]" value="{$layered_product_filters_rewrite[{l s='Used' d='Modules.Facetedsearch.Shop'}]}" >
	                    	<input type="hidden" value="{l s='Used' d='Modules.Facetedsearch.Shop'}">
	                  	</div>
                	</div>
                	<div class="col-lg-3">
	                  	<label class="control-label col-lg-6">"{l s='Refurbished' d='Modules.Facetedsearch.Shop'}" {l s='Link rewrite:' d='Modules.Facetedsearch.Admin'}</label>
	                  	<div class="col-lg-6">
	                    	<input type="text" name="layered_product_filters[{l s='Refurbished' d='Modules.Facetedsearch.Shop'}]" value="{$layered_product_filters_rewrite[{l s='Refurbished' d='Modules.Facetedsearch.Shop'}]}" >
	                    	<input type="hidden" value="{l s='Refurbished' d='Modules.Facetedsearch.Shop'}">
	                  	</div>
                	</div>
				</div>
              </li>
              <li class="filter_list_item row" draggable="true">
                <div class="col-lg-1">
                  <label class="switch-light prestashop-switch fixed-width-lg">
                    <input name="layered_selection_manufacturer" id="layered_selection_manufacturer" type="checkbox" />
                    <span>
                      <span>{l s='Yes' d='Admin.Global'}</span>
                      <span>{l s='No' d='Admin.Global'}</span>
                    </span>
                    <a class="slide-button btn"></a>
                  </label>
                </div>
                <div class="col-lg-2">
                	<a data-toggle="collapse" href="#collapse_facets_brands" role="button" aria-expanded="false" aria-controls="collapse_facets_brands"><span class="module_name">{l s='Product brand filter' d='Modules.Facetedsearch.Admin'}</span></a>
                </div>
                <div class="col-lg-3">
                  <label class="control-label col-lg-6">{l s='Link rewrite:' d='Modules.Facetedsearch.Admin'}</label>
                  <div class="col-lg-6">
                    <input type="text" name="layered_product_facets[{l s='Brand' d='Modules.Facetedsearch.Shop'}]" value="{$layered_product_facets_rewrite[{l s='Brand' d='Modules.Facetedsearch.Shop'}]}" >
                    <input type="hidden" value="{l s='Brand' d='Modules.Facetedsearch.Shop'}">
                  </div>
                </div>
                <div class="col-lg-3 pull-right">
                  <label class="control-label col-lg-6">{l s='Filter result limit:' d='Modules.Facetedsearch.Admin'}</label>
                  <div class="col-lg-6">
                    <select name="layered_selection_manufacturer_filter_show_limit">
                      <option value="0">{l s='No limit' d='Modules.Facetedsearch.Admin'}</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="10">10</option>
                      <option value="20">20</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-3 pull-right">
                  <label class="control-label col-lg-6">{l s='Filter style:' d='Modules.Facetedsearch.Admin'}</label>
                  <div class="col-lg-6">
                    <select name="layered_selection_manufacturer_filter_type">
                      <option value="0">{l s='Checkbox' d='Modules.Facetedsearch.Admin'}</option>
                      <option value="1">{l s='Radio button' d='Modules.Facetedsearch.Admin'}</option>
                      <option value="2">{l s='Drop-down list' d='Modules.Facetedsearch.Admin'}</option>
                    </select>
                  </div>
                </div>
                <div class="collapse col-lg-12" id="collapse_facets_brands">
                  	{foreach $brands_names as $brand_names}
					    <div class="col-lg-3">
		                  	<label class="control-label col-lg-6">"{$brand_names.name}" {l s='Link rewrite:' d='Modules.Facetedsearch.Admin'}</label>
		                  	<div class="col-lg-6">
		                    	<input type="text" name="layered_product_filters[{$brand_names.name}]" value="{$layered_product_filters_rewrite[{$brand_names.name}]}">
		                    	<input type="hidden" value="{$brand_names.name}">
		                  	</div>
	                	</div>
                	{/foreach}
				</div>
              </li>
              <li class="filter_list_item row" draggable="true">
                <div class="col-lg-1">
                  <label class="switch-light prestashop-switch fixed-width-lg">
                    <input name="layered_selection_weight_slider" id="layered_selection_weight_slider" type="checkbox" />
                    <span>
                      <span>{l s='Yes' d='Admin.Global'}</span>
                      <span>{l s='No' d='Admin.Global'}</span>
                    </span>
                    <a class="slide-button btn"></a>
                  </label>
                </div>
                <div class="col-lg-2">
                  <span class="module_name">{l s='Product weight filter (slider)' d='Modules.Facetedsearch.Admin'}</span>
                </div>
                <div class="col-lg-3">
                  <label class="control-label col-lg-6">{l s='Link rewrite:' d='Modules.Facetedsearch.Admin'}</label>
                  <div class="col-lg-6">
                    <input type="text" name="layered_product_facets[{l s='Weight' d='Modules.Facetedsearch.Shop'}]" value="{$layered_product_facets_rewrite[{l s='Weight' d='Modules.Facetedsearch.Shop'}]}">
                    <input type="hidden" value="{l s='Weight' d='Modules.Facetedsearch.Shop'}">
                  </div>
                </div>
                <div class="col-lg-3 pull-right">
                  <label class="control-label col-lg-6">{l s='Filter result limit:' d='Modules.Facetedsearch.Admin'}</label>
                  <div class="col-lg-6">
                    <select name="layered_selection_weight_slider_filter_show_limit">
                      <option value="0">{l s='No limit' d='Modules.Facetedsearch.Admin'}</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="10">10</option>
                      <option value="20">20</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-3 pull-right">
                  <label class="control-label col-lg-6">{l s='Filter style:' d='Modules.Facetedsearch.Admin'}</label>
                  <div class="col-lg-6">
                    <input type="hidden" name="layered_selection_weight_slider_filter_type" value="1">
                    <p class="form-control-static">{l s='List of ranges' d='Modules.Facetedsearch.Admin'}</p>
                  </div>
                </div>
              </li>
              <li class="filter_list_item row" draggable="true">
                <div class="col-lg-1">
                  <label class="switch-light prestashop-switch fixed-width-lg">
                    <input name="layered_selection_price_slider" id="layered_selection_price_slider" type="checkbox" />
                    <span>
                      <span>{l s='Yes' d='Admin.Global'}</span>
                      <span>{l s='No' d='Admin.Global'}</span>
                    </span>
                    <a class="slide-button btn"></a>
                  </label>
                </div>
                <div class="col-lg-2">
                  <span class="module_name">{l s='Product price filter (slider)' d='Modules.Facetedsearch.Admin'}</span>
                </div>
                <div class="col-lg-3">
                  <label class="control-label col-lg-6">{l s='Link rewrite:' d='Modules.Facetedsearch.Admin'}</label>
                  <div class="col-lg-6">
                    <input type="text" name="layered_product_facets[{l s='Price' d='Modules.Facetedsearch.Shop'}]" value="{$layered_product_facets_rewrite[{l s='Price' d='Modules.Facetedsearch.Shop'}]}" >
                    <input type="hidden" value="{l s='Price' d='Modules.Facetedsearch.Shop'}">
                  </div>
                </div>
                <div class="col-lg-3 pull-right">
                  <label class="control-label col-lg-6">{l s='Filter result limit:' d='Modules.Facetedsearch.Admin'}</label>
                  <div class="col-lg-6">
                    <select name="layered_selection_price_slider_filter_show_limit">
                      <option value="0">{l s='No limit' d='Modules.Facetedsearch.Admin'}</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="10">10</option>
                      <option value="20">20</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-3 pull-right">
                  <label class="control-label col-lg-6">{l s='Filter style:' d='Modules.Facetedsearch.Admin'}</label>
                  <div class="col-lg-6">
                    <input type="hidden" name="layered_selection_price_slider_filter_type" value="1">
                    <p class="form-control-static">{l s='List of ranges' d='Modules.Facetedsearch.Admin'}</p>
                  </div>
                </div>
              </li>
              {if $attribute_groups|count > 0}
                {foreach $attribute_groups as $attribute_group}
                <li class="filter_list_item row" draggable="true">
                  <div class="col-lg-1">
                    <label class="switch-light prestashop-switch fixed-width-lg">
                      <input name="layered_selection_ag_{(int)$attribute_group['id_attribute_group']}" id="layered_selection_ag_{(int)$attribute_group['id_attribute_group']}" type="checkbox" />
                      <span>
                        <span>{l s='Yes' d='Admin.Global'}</span>
                        <span>{l s='No' d='Admin.Global'}</span>
                      </span>
                      <a class="slide-button btn"></a>
                    </label>
                  </div>
                  <div class="col-lg-2">
                    <a data-toggle="collapse" href="#collapse_facets_attributes_{$attribute_group.id_attribute_group}" role="button" aria-expanded="false" aria-controls="collapse_facets_condition_{$attribute_group.id_attribute_group}"><span class="module_name">
                    {if $attribute_group['n'] > 1}
                      {l
                        s='Attribute group: %name% (%count% attributes)'
                        sprintf=[
                          '%name%' => $attribute_group['name'],
                          '%count%' => $attribute_group['n']
                        ]
                        d='Modules.Facetedsearch.Admin'
                      }
                    {else}
                      {l
                        s='Attribute group: %name% (%count% attribute)'
                        sprintf=[
                          '%name%' => $attribute_group['name'],
                          '%count%' => $attribute_group['n']
                        ]
                        d='Modules.Facetedsearch.Admin'
                      }
                    {/if}
                    {if $attribute_group['is_color_group']}
                      <img src="../img/admin/color_swatch.png" alt="" title="{l s='This group will allow user to select a color' d='Modules.Facetedsearch.Admin'}" />
                    {/if}
                    </span></a>
                  </div>
                  <div class="col-lg-3">
                  	<label class="control-label col-lg-6">{l s='Link rewrite:' d='Modules.Facetedsearch.Admin'}</label>
                  	<div class="col-lg-6">
                    	<input type="text" name="layered_product_facets[{$attribute_group.name}]" value="{$layered_product_facets_rewrite[$attribute_group.name]}" />
                    	<input type="hidden" value="{$attribute_group.name}">
                  	</div>
            	  </div>
                  <div class="col-lg-3 pull-right">
                    <label class="control-label col-lg-6">{l s='Filter result limit:' d='Modules.Facetedsearch.Admin'}</label>
                    <div class="col-lg-6">
                      <select name="layered_selection_ag_{(int)$attribute_group['id_attribute_group']}_filter_show_limit">
                        <option value="0">{l s='No limit' d='Modules.Facetedsearch.Admin'}</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="20">20</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-3 pull-right">
                    <label class="control-label col-lg-6">{l s='Filter style:' d='Modules.Facetedsearch.Admin'}</label>
                    <div class="col-lg-6">
                      <select name="layered_selection_ag_{(int)$attribute_group['id_attribute_group']}_filter_type">
                        <option value="0">{l s='Checkbox' d='Modules.Facetedsearch.Admin'}</option>
                        <option value="1">{l s='Radio button' d='Modules.Facetedsearch.Admin'}</option>
                        <option value="2">{l s='Drop-down list' d='Modules.Facetedsearch.Admin'}</option>
                      </select>
                    </div>
                  </div>
                  <div class="collapse col-lg-12" id="collapse_facets_attributes_{$attribute_group.id_attribute_group}">
                  	{foreach $attribute_groups_names as $attribute_group_names}
                  		{if $attribute_group_names.id_attribute_group == $attribute_group.id_attribute_group}
						    <div class="col-lg-3">
			                  	<label class="control-label col-lg-6">"{$attribute_group_names.name}" {l s='Link rewrite:' d='Modules.Facetedsearch.Admin'}</label>
			                  	<div class="col-lg-6">
			                    	<input type="text" name="layered_product_filters[{$attribute_group_names.name}]" value="{$layered_product_filters_rewrite[$attribute_group_names.name]}">
			                    	<input type="hidden" value="{$attribute_group_names.name}">
			                  	</div>
		                	</div>
		                {/if}
                	{/foreach}
				  </div>
                </li>
                {/foreach}
              {/if}

              {if $features|count > 0}
                {foreach $features as $feature}
                <li class="filter_list_item row" draggable="true">
                  <div class="col-lg-1">
                    <label class="switch-light prestashop-switch fixed-width-lg">
                      <input name="layered_selection_feat_{(int)$feature['id_feature']}" id="layered_selection_feat_{(int)$feature['id_feature']}" type="checkbox" />
                      <span>
                        <span>{l s='Yes' d='Admin.Global'}</span>
                        <span>{l s='No' d='Admin.Global'}</span>
                      </span>
                      <a class="slide-button btn"></a>
                    </label>
                  </div>
                  <div class="col-lg-2">
                    <a data-toggle="collapse" href="#collapse_facets_feature_{$feature.id_feature}" role="button" aria-expanded="false" aria-controls="collapse_facets_feature_{$feature.id_feature}"><span class="module_name">
                      {if $feature['n'] > 1}
                        {l
                          s='Feature: %name% (%count% values)'
                          sprintf=[
                            '%name%' => $feature['name'],
                            '%count%' => $feature['n']
                          ]
                          d='Modules.Facetedsearch.Admin'
                        }
                      {else}
                        {l
                          s='Feature: %name% (%count% value)'
                          sprintf=[
                            '%name%' => $feature['name'],
                            '%count%' => $feature['n']
                          ]
                          d='Modules.Facetedsearch.Admin'
                        }
                      {/if}
                    </span></a>
                  </div>
                  <div class="col-lg-3">
                  	<label class="control-label col-lg-6">{l s='Link rewrite:' d='Modules.Facetedsearch.Admin'}</label>
                  	<div class="col-lg-6">
                    	<input type="text" name="layered_product_facets[{$feature.name}]" value="{$layered_product_facets_rewrite[{$feature.name}]}">
                    	<input type="hidden" value="{$feature.name}">
                  	</div>
            	  </div>
                  <div class="col-lg-3 pull-right">
                    <label class="control-label col-lg-6">{l s='Filter result limit:' d='Modules.Facetedsearch.Admin'}</label>
                    <div class="col-lg-6">
                      <select name="layered_selection_feat_{(int)$feature['id_feature']}_filter_show_limit">
                        <option value="0">{l s='No limit' d='Modules.Facetedsearch.Admin'}</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="20">20</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-3 pull-right">
                    <label class="control-label col-lg-6">{l s='Filter style:' d='Modules.Facetedsearch.Admin'}</label>
                    <div class="col-lg-6">
                      <select name="layered_selection_feat_{(int)$feature['id_feature']}_filter_type">
                        <option value="0">{l s='Checkbox' d='Modules.Facetedsearch.Admin'}</option>
                        <option value="1">{l s='Radio button' d='Modules.Facetedsearch.Admin'}</option>
                        <option value="2">{l s='Drop-down list' d='Modules.Facetedsearch.Admin'}</option>
                      </select>
                    </div>
                  </div>
                  <div class="collapse col-lg-12" id="collapse_facets_feature_{$feature.id_feature}">
                  	{foreach $features_names as $feature_names}
                  		{if $feature_names.id_feature == $feature.id_feature}
						    <div class="col-lg-3">
			                  	<label class="control-label col-lg-6">"{$feature_names.value}" {l s='Link rewrite:' d='Modules.Facetedsearch.Admin'}</label>
			                  	<div class="col-lg-6">
			                    	<input type="text" name="layered_product_filters[{$feature_names.value}]" value="{$layered_product_filters_rewrite[{$feature_names.value}]}">
			                    	<input type="hidden" value="{$feature_names.value}">
			                  	</div>
		                	</div>
		                {/if}
                	{/foreach}
				  </div>
                </li>
                {/foreach}
              {/if}
            </ul>
          </section>
        </section>
      </div>
    </div>
    <div class="panel-footer" id="toolbar-footer">
      <button class="btn btn-default pull-right" id="submit-filter" name="SubmitFilter" type="submit"><i class="process-icon-save"></i> <span>{l s='Save' d='Admin.Actions'}</span></button>
      <a class="btn btn-default" href="{$current_url}">
        <i class="process-icon-cancel"></i> <span>{l s='Cancel' d='Admin.Actions'}</span>
      </a>
    </div>
  </form>
</div>

<script type="text/javascript">
  var translations = new Array();
  {if isset($filters)}var filters = '{$filters}';{/if}
  translations['no_selected_categories'] = "{l s='You must select at least one category' d='Modules.Facetedsearch.Admin'}";
  translations['no_selected_filters'] = "{l s='You must select at least one filter' d='Modules.Facetedsearch.Admin'}";
</script>
