{if isset($MENU) && $MENU !=''}
  <div class="displayTop_menu top-level tmmegamenu_item default-menu top-global" id="_desktop_top_menu">
    <div class="menu-title tmmegamenu_item active">{l s='Menu' mod='tmmegamenu'}</div>
    {$MENU nofilter}
  </div>
{/if}